<ion-content>
  <div class="del-upd-del">
    <div class="inner-cont-opt" *ngIf="promoUdpate === 'Promote item'">
      <p id="topic-item"><b>{{promoUdpate}}</b></p>
      <img *ngIf='itemImageLink' [src]="itemImageLink" alt="" id="item-image">
      <img *ngIf='!itemImageLink' src="../../assets/imgs/images.jpg" alt="" id="item-image">
      <div class="item-data">
        <h3>{{itemName}}</h3>
        <p class="item-detail">
          R {{itemPrice}}
        </p>
        <p class="item-detail">Description</p>
        <p class="description">
          {{itemDescription}}
        </p>
        <input type="number" placeholder="Percentile % (e.g 20)" [(ngModel)]='editPercentage' (keyup)='calculateSalePrice($event);'>
        <div class="gridded-inputs">
          <input type="date" placeholder="Start Date" [(ngModel)]='editStartDate' /><input type="date"
            placeholder="End Date" [(ngModel)]='editEndDate' />
        </div>
        <div class="gridded-inputs">
          <ion-button color="danger" (click)="dismissPromo()">Cancel</ion-button>
          <ion-button color="success" (click)='promoteItem()'>Promote</ion-button>
        </div>
      </div>
    </div>
    <div class="inner-cont-opt" *ngIf="promoUdpate === 'Update item'">
      <p id="topic-item"><b>{{promoUdpate}}</b></p>
      <img *ngIf='itemImageLink' [src]="itemImageLink" alt="" id="item-image">
      <div class="item-data">
        <h3>{{updateName}}</h3>
        <p class="item-detail">
          R {{updatePrice}}
        </p>
        <p class="item-detail">Choose Avalable Sizes</p>
        <div class="sizes-colours-item">
          <ion-checkbox color="primary" [checked]='checkXS' name='checkboxXS' (ionChange)='checkSizeUpdateCheckboxes($event, "XS")'></ion-checkbox>
          <p id="text-size">XS</p>
          <ion-checkbox color="primary" [checked]='checkS' name='checkboxS' (ionChange)='checkSizeUpdateCheckboxes($event, "S")'></ion-checkbox>
          <p id="text-size">S</p>
          <ion-checkbox color="primary" [checked]='checkM' name='checkboxM' (ionChange)='checkSizeUpdateCheckboxes($event, "M")'></ion-checkbox>
          <p id="text-size">M</p>
          <ion-checkbox color="primary" [checked]='checkL' name='checkboxL' (ionChange)='checkSizeUpdateCheckboxes($event, "L")'></ion-checkbox>
          <p id="text-size">L</p>
          <ion-checkbox color="primary" [checked]='checkXL' name='checkboxXL' (ionChange)='checkSizeUpdateCheckboxes($event, "XL")'></ion-checkbox>
          <p id="text-size">XL</p>
          <ion-checkbox color="primary" [checked]='checkXXL' name='checkboxXXL' (ionChange)='checkSizeUpdateCheckboxes($event, "XXL")'></ion-checkbox>
          <p id="text-size">XXL</p>
          <ion-checkbox color="primary" [checked]='checkXXXL' name='checkboxXXXL' (ionChange)='checkSizeUpdateCheckboxes($event, "XXXL")'></ion-checkbox>
          <p id="text-size">XXXL</p>
        </div>
        <input #pictureUpdate width='100px' class='pictureInput' type="file" accept="image/jpeg, jpg, tif, png"
        (change)='addPictureUpdate($event)'>
        <p class="item-detail">Choose Available Colours</p>
        <div class="sizes-colours-item">
          <div>
            <ion-checkbox class="color-checkbox" color="medium" [checked]='checkRed' color="primary" name='red' (ionChange)='checkColorUpdate($event, "Red")'>
            </ion-checkbox>
          </div>
          <div>

            <ion-checkbox class="color-checkbox" color="medium" [checked]='checkBlue' color="primary" name='blue' (ionChange)='checkColorUpdate($event, "Blue")'>
            </ion-checkbox>
          </div>
          <div>

            <ion-checkbox class="color-checkbox" color="medium" [checked]='checkGreen' color="primary" name='green' (ionChange)='checkColorUpdate($event, "Green")'>
            </ion-checkbox>
          </div>
          <div>

            <ion-checkbox class="color-checkbox" color="medium" [checked]='checkYellow' color="primary" name='orange' (ionChange)='checkColorUpdate($event, "Orange")'>
            </ion-checkbox>
          </div>
          <div>

            <ion-checkbox class="color-checkbox" color="medium" [checked]='checkPink' color="primary" name='pink' (ionChange)='checkColorUpdate($event, "Pink")'>
            </ion-checkbox>
          </div>
          <div>

            <ion-checkbox class="color-checkbox"  color="medium" [checked]='checkWhite' color="primary" name='white' (ionChange)='checkColorUpdate($event, "White")'>
            </ion-checkbox>
          </div>
        </div>
        <input type="text" placeholder="Item Name" [(ngModel)]='updateName' /><br />
        ​
        <input type="number" placeholder="Price" [(ngModel)]='updatePrice' />
        <br />
        <textarea placeholder="Item Description" rows="3" [(ngModel)]='updateDescription'></textarea>
        <div class="gridded-inputs">
          <ion-button color="danger" (click)="dismissPromo()">Cancel</ion-button>
          <ion-button color="success" (click)='updateItem()'>Update</ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <h4>DankieJesu</h4>
        </div>
        <div id="searchbar">
          <!-- <ion-searchbar (ionChange)='search(searchInput)' [(ngModel)]='searchInput'></ion-searchbar> -->
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>Sign out</p>
          <img src="../../assets/imgs/person-icon-svg.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark" fill="outline" (click)='back()'>
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
          <div class="page-title">
            <!-- Use this section to change views by use of *ngIf, replace directory label and content according to the specific page -->
            <a (click)='navigate()'>{{title}}</a> / {{currentCategory}}
          </div>
        </div>
        <div class="SubCat" *ngFor='let item of currentViewedItems'>
          <div class="gridder">
            <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
            <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
            <div id="info">
              <h5>{{item.data.name}}</h5>
              <p>{{item.data.description}}.</p>
              <p><b>R {{item.data.price}}</b></p>
              <div class="options">
                <div
                  (click)="togglePromo(item.productID, item.brand, item.category, item.data.name, item.data.description, item.data.price, item.data.pictureLink, item)">
                  Promote</div>
                <div
                  (click)="toggleUpdate(item.productID, item.brand, item.category, item.data.name, item.data.description, item.data.price, item.data.pictureLink, item.data.size, item.data.color)">
                  Update</div>
                <div (click)='hideItem(item.productID, item.brand, item.category)' *ngIf='item.data.hideItem === false'>Hide</div>
                <div (click)='showItem(item.productID, item.brand, item.category)' *ngIf='item.data.hideItem === true'>Show</div>
                <div (click)='hideItem(item.productID, item.brand, item.category)' *ngIf='item.data.hideItem !== false && item.data.hideItem !==true'>Hide</div>               
                <div (click)='deleteItem(item.productID, item.brand, item.category, item)'>Delete</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
      </div>
    </div>
  </div>












  <div class="mobile-view">
    <div class="cont-small">
      <div class="top-bar">
        <ion-button color="dark" fill="outline" (click)='back()'>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <div class="page-title"><a (click)='navigate()'>{{title}}</a> / {{currentCategory}}
        </div>
      </div>
      <div *ngFor="let item of currentViewedItems">
        <div>

          <div class="SubCats">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
            </div>
            <div>
              <h5>{{item.data.name}}</h5>
              <!-- <p>{{item.data.description}}</p> -->
              <p>R {{item.data.price}}</p>
              <div class="opts">
                <div>
                  <button icon-only
                    (click)="togglePromo(item.productID, item.brand, item.category, item.data.name, item.data.description, item.data.price, item.data.pictureLink, item)">
                    <ion-icon name="flash"></ion-icon>
                  </button>
                </div>
                <div>
                  <button icon-only
                    (click)="toggleUpdate(item.productID, item.brand, item.category, item.data.name, item.data.description, item.data.price, item.data.pictureLink, item.data.size, item.data.color)">
                    <ion-icon ios="ios-create" md="md-create"></ion-icon>
                  </button>
                </div>
                <div>
                  <button icon-only (click)='hideItem(item.productID, item.brand, item.category)'>
                    <ion-icon name="eye-off"></ion-icon>
                  </button>
                </div>
                <div>
                  <button icon-only (click)='deleteItem(item.productID, item.brand, item.category, item)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</ion-content>