.checkmarksColor{
    border: 2px solid red;
    display: flex;
/* The container */
}
.inner-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container{
    background-color: pink;
    height: 40px;
    width: 100%;
}
.checkmarksColor > div:nth-child(1){
    background: black;
}
.checkmarksColor > .check-container:nth-child(2){
    background: brown;
}
.checkmarksColor > .check-container:nth-child(3){
    background: orange;
}
.checkmarksColor > .check-container:nth-child(4){
    background: yellow;
}
.checkmarksColor > .check-container:nth-child(5){
    background: white;
}
/* Hide the browser's default checkbox */
.inner-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: transparent;
}

/* On mouse-over, add a grey background color */
.inner-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.inner-container input:checked ~ .checkmark {
  background-color: rgba(0, 0, 0, 0.411);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inner-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.inner-container .checkmark:after {
  left: 50%;
  top: 50%;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg) translate(-100%, -60%);
}