<ion-content>
    <div class="content-container">
      <div class="nav-bar">
        <div class="nav-content">
          <div id="title">
            <img src="../../assets/imgs/Logo/Logo.png" id="appLogo" alt="" (click)="back()" id="dankie-home-button">
            <!-- <h4>DankieJesu</h4> -->
          </div>
          <div id="searchbar">
          </div>
          <div id="admin" (click)='signOutPopup()'>
            <p>SIGN OUT</p>
          </div>
        </div>
      </div>
      <div class="body-content">
        <div id="left" padding>
        </div>
        <div id="mid">
          <div class="top-bar">
            <ion-button color="dark" fill="clear" (click)='back()'>
              <ion-icon name="home"></ion-icon>
            </ion-button>
            <div class="page-title">
              Kwanga Apparel
            </div>
          </div>
          <div class="SubCat" (click)='navigateForward("Smart Casual")'>
            <h3>Smart Casual</h3>
            <img src="../../assets/imgs/Placeholders/Smart Casual.jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Formal")'>
<h3>Formal Wear</h3>
            <img src="../../assets/imgs/Placeholders/Formal Wear.png" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Traditional")'>
            <h3>Traditional</h3>
            <img src="../../assets/imgs/Placeholders/Traditional Clothing.png" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Sports")'>
            <h3>Sports Wear</h3>
            <img src="../../assets/imgs/Placeholders/Sports Wear.jpg" alt="">
          </div>
  
        </div>
        <div id="right">
        </div>
      </div>
    </div>

    <div class="mobile-view">
        <div class="cont-small">

            <div class="top-bar">
              <ion-button color="dark" fill="clear" id="backBTN" (click)='back()'>
                <ion-icon name="home"></ion-icon>
              </ion-button>
              <div class="page-title">
                Kwanga Apparel
              </div>
            </div>
            <div class="SubCat" (click)='navigateForward("Smart Casual")'>
              <h3>Smart Casual</h3>
              <img src="../../assets/Categories/Smart Casual.jpg" alt="">
            </div>
            <div class="SubCat" (click)='navigateForward("Formal Wear")'>
              <h3>Formal Wear</h3>
              <img src="../../assets/Categories/Formal Wear.jpg" alt="">
            </div>
            <div class="SubCat" (click)='navigateForward("Traditional")'>
              <h3>Traditional</h3>
              <img src="../../assets/Categories/Traditional.jpg" alt="">
            </div>
            <div class="SubCat" (click)='navigateForward("Sports")'>
              <h3>Sports Wear</h3>
              <img src="../../assets/Categories/Sports Wear.jpg" alt="">
            </div>
    
        </div>
      </div>

  </ion-content>
  