<ion-content>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <h4>DankieJesu</h4>
        </div>
        <div id="searchbar">
          <ion-searchbar></ion-searchbar>
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>SIGN OUT</p>
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
      </div>
      <div id="mid">
        <div class="box-card">
          <div>
            <h4>Order Details</h4>
            <h5>{{name}}</h5>
            <p class="nums">{{cell}}</p>
            <p class="refNum"><b>REF</b> {{refNo}}</p>
            <div id="note">
              <i>Use this reference number to compare against the reference number provided by your back provider.</i>
            </div>
            <div class="toFlex">
              <p id="SubHeader">Date of Purchase</p>
              <p id="dayDate">{{purchaseDate}}</p>
            </div>
            <p id="subHeader">
              Products
            </p>
            <div class="items">
              <div class="subtitle">
                <p class="item" *ngFor='let item of products'>{{item.product_name}}</p>

                <p class="item"><b>Total Quantity</b></p>
                <p class="item"><b>Total</b></p>
                <p class="item"><b>Delivery Fee</b></p>
                <p class="item"><b>Grand Total</b></p>
                <p><b>Order Type</b></p>
              </div>
              <div class="subtitle">
                <p *ngFor='let item of products'>{{item.quantity}}</p>


                <p><b>{{totalQuantity}}</b></p>
                <p><b>R {{totalPrice}}</b></p>
                <p><b>R {{deliveryFee}}</b></p>
                <p><b>R {{grandTotal}}</b></p>
                <p>{{deliveryType}}</p>
              </div>
            </div>

            <p *ngIf='deliveryAddress' id="subHeader">
              Order Address
            </p>
            <p *ngIf='deliveryAddress' id="address">{{deliveryAddress}}</p>
            <p id="Notifier" *ngIf="status === 'collected'">Order has been closed.</p>
            <ion-button color="dark" (click)='goBack()'>Go Back</ion-button>
          </div>
          <div>
            <p class="titleName">
              Products Ordered
            </p>
            <ion-card *ngFor='let item of products'>
              <img [src]="item.picture" alt="">
              <div class="cont-container">
                <h4>{{item.product_name}}</h4>
                <p>R {{item.cost}}</p>
                <p><b>QTY</b> {{item.quantity}}</p>
                <p>Colour: {{item.color}}</p>
                <p>Size: {{item.size}}</p>
              </div>
            </ion-card>
          </div>

          <div id="buttons">
            <div class="to-buttons">
              <ion-button color="danger" (click)='cancelOrder()' *ngIf="status === 'received'">Cancel Order</ion-button>
              <ion-button color="warning" (click)='processOrder()' *ngIf="status === 'received'">Process Order
              </ion-button>
              <ion-button color="success" (click)='orderReady()' *ngIf="status === 'processed'">Ready for Collection
              </ion-button>
              <div *ngIf="status === 'ready'">
                <ion-button color="success" (click)='orderCollected()' *ngIf="deliveryType === 'Collection'">Collected</ion-button>
                <ion-button color="success" (click)='orderCollected()' *ngIf="deliveryType === 'Delivery'">Delivered</ion-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
      </div>
    </div>
  </div>



  <div class="mobile-view">
    <div class="top">
      <ion-button icon-only id="bckBtn" fill="clear" color="dark" (click)='goBack()'>
        <ion-icon name="home" (click)='goBack()'></ion-icon>
      </ion-button>
      Order Details
    </div>
    <div class="grid">
      <div id="items">
        <p class="titleName">
          Products Ordered
        </p>
        <ion-card *ngFor='let item of products'>
          <img [src]="item.picture" *ngIf='item.picture' alt="">
          <div class="cont-container">
            <h4>{{item.product_name}}</h4>
            <p>R {{item.cost}}</p>
            <p><b>Size:</b> {{item.size}}</p>
            <p><b>QTY</b> {{item.quantity}}</p>
            <p>Colour: {{item.color}}</p>
          </div>
        </ion-card>
      </div>
      <div id="receipt">

        <h4>Order Details</h4>
        <h5>{{name}}</h5>
        <p class="nums">{{cell}}</p>
        <div *ngIf='refNo'></div>
        <p class="refNum"><b>REF</b> {{refNo}}</p>
        <div id="note">
          <i>Use this reference number to compare against the reference number provided by your back provider.</i>
        </div>
        <div class="toFlex">
          <p id="SubHeader">Date of Purchase</p>
          <p id="dayDate">20/11/2019</p>
        </div>
        <p id="subHeader">
          Products
        </p>
        <div class="items">
          <div class="subtitle">
            <p class="item" *ngFor='let item of products'>{{item.product_name}}</p>

            <p class="item"><b>Total Quantity</b></p>
            <p class="item"><b>Total</b></p>
            <p class="item"><b>Delivery Fee</b></p>
            <p class="item"><b>Grand Total</b></p>
            <p><b>Order Type</b></p>
          </div>
          <div class="subtitle">
            <p *ngFor='let item of products'>{{item.quantity}}</p>


            <p><b>{{totalQuantity}}</b></p>
            <p><b>R {{totalPrice}}</b></p>
            <p><b>R {{deliveryFee}}</b></p>
            <p><b>R {{grandTotal}}</b></p>
            <p>{{deliveryType}}</p>
          </div>
        </div>
        <p *ngIf='deliveryAddress' id="subHeader">
          Order Address
        </p>
        <p *ngIf='deliveryAddress' id="address">{{deliveryAddress}}</p>
        <div>
          <ion-button color="danger" (click)='cancelOrder()' *ngIf="status === 'received'">Cancel Order</ion-button>
          <ion-button color="warning" (click)='processOrder()' *ngIf="status === 'received'">Process Order</ion-button>
          <ion-button color="success" (click)='orderReady()' *ngIf="status === 'processed'">Ready for Collection
          </ion-button>
          <div *ngIf="status === 'ready'">
            <ion-button color="success" (click)='orderCollected()' *ngIf="deliveryType === 'Collection'">Collected</ion-button>
            <ion-button color="success" (click)='orderCollected()' *ngIf="deliveryType === 'Delivery'">Delivered</ion-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>