.content-container {
    width: 100%;
    height: 100%;
    background: grey;
  }
  .nav-bar {
    width: 100%;
    height: 60px;
    background: rgb(0,3,36);
    z-index: 100;
    border-bottom: 1px solid black;
    color: white;
  }
  .nav-content {
    height: 100%;
    width: 65%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }
  .body-content {
    width: 100%;
    height: calc(100% - 60px);
    background: green;
    display: flex;
  }
  #title,
  #admin {
    width: 20%;
    height: 100%;
    p{
      cursor: pointer;
    }
  }
  #admin {
    display: flex;
  }
  #admin {
    text-align: right;
    p {
      line-height: 30px;
      width: 100%;
    }
    img {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      object-fit: cover;
      transform: translateY(10px);
    }
  }
  #searchbar {
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }
  #mid {
    z-index: 100;
    width: 65%;
    background: #f2f2f2;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .box-card {
      width: 95%;
      margin: 0 auto;
      height: 90%;
      background: whitesmoke;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      position: relative;
      
      #buttons{
        position: absolute !important;
        right: 15px;
        bottom: 0;
        width:calc(65% - 15px);
        background: white;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .to-buttons{
            width: 85%;
            height: 40px;
            background: white;
            margin: 0;
            display: flex;
            button{
                cursor: pointer;
                width: 24.5%;
                text-align: center;
                line-height: 40px;
                margin: 0 auto;
                color: white;
                border: 1px solid black;
                font-size: 12px;
                border-radius: 5px;
            }
        }
    }
    }
    .box-card > div {
      height: 100%;
    }
    .box-card > div:nth-child(1) {
      width: 35%;
      border-right: 1px solid rgba(0, 0, 0, 0.096);
      background: whitesmoke;
      padding: 10px;
      position: relative;
      h5 {
        color: rgb(87, 87, 87);
      }
      .nums {
        font-size: 12px;
        color: rgb(87, 87, 87);
        margin-top: -10px;
      }
      .refNum {
        font-size: 12px;
        color: rgb(87, 87, 87);
        b {
          color: black;
          font-size: 13px;
        }
      }
      #note {
        font-size: 11px;
        transform: translateY(-10px);
        color: grey;
      }
    }
    .box-card > div:nth-child(2) {
      width: 65%;
      overflow-y: scroll;
      padding-bottom: 50px;
  
      .titleName {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .toFlex {
      display: flex;
      font-size: 13px;
      padding: 0;
      margin-bottom: -25px;
    }
    #SubHeader {
      padding-right: 10px;
    }
    #dayDate {
      color: grey;
    }
  }
  .items {
    width: 100%;
    display: flex;
    .subtitle {
      color: grey;
      margin-top: -10px;
      font-size: 11px;
      padding: 0;
    }
    .subtitle:nth-child(1) {
      width: 80%;
    }
    .subtitle:nth-child(2) {
      width: 20%;
    }
  }
  #address {
    color: grey;
    font-size: 13px;
  }
  #Notifier {
    font-size: 18px;
    font-style: italic;
  }
  #left,
  #right {
    width: 17.5%;
    height: 100%;
    background: #f2f2f2;
    position: relative;
  }
  @media screen and (max-width: 1024px){
  #left,
  #right {
      display: none;
  }
  #mid{
      width: 100%;
  }
  .box-card {
      width: 100%;
  }
  }
  ion-searchbar {
    display: none;
    width: 50%;
    margin: 0 auto;
    margin-top: 7px;
    border: 1px solid #7c0000;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
  }
  
  ion-card{
      display: flex;
      border-radius: 10px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
      background: white;
      img{
          width: 120px;
          height: 120px;
          object-fit: cover;
      }
      .cont-container{
          width: calc(100% - 120px);
          height: 100%;
          padding-left: 10px;
          padding-right: 10px;
      }
  }

  


@media screen and (max-width: 850px){
  .content-container{
    display: none;
  }
}
@media screen and (min-width: 851px){
  .mobile-view{
    display: none;
  }
}
.mobile-view{
  width: 100%;
  height: 100%;
  background: whitesmoke;
  overflow-y: hidden;
  .top{
    width: 100%;
    height: 50px;
    background: rgb(0, 3, 36);
    line-height: 50px;
    font-weight: bold;
    color: white
  }
  #bckBtn{
    margin: 0;
    height: 100%;
    float: left
  }
  .grid{
    height: calc(100% - 50px);
    overflow-y: scroll;
  }
  #receipt{
    border-top: 2px solid grey;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0;
    ion-button{
      width: 100%
    }
    #note{
      font-size: 10px;
    }
  }
  ion-card{
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .cont-container{
        width: calc(100% - 120px);
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        h4{
          font-size: 16px;
        }
        p{
          font-size: 12px;
        }
    }
  }
}

#dankie-home-button {
  cursor: pointer;
  height: 90%;
  margin-top: 5px;
}
.myStat{
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  p{
    font-weight: bold;
    font-size: 18px;
    color: rgb(49, 49, 49);
  }
}
#orderStatus{
  // height: 50px;
  width: 100%;
  // max-width: 320px;
  // background: red;
  display: flex;
}
#orderStatus-labels{
  // height: 50px;
  width: 100%;
  // max-width: 320px;
  // background: red;
  display: flex;  
}
#orderStatus-labels > div {
  width: 100%;
  text-align: center;
}
#orderStatus-labels > div:nth-child(1) {
  width: 100%;
  text-align: left !important;
}
#orderStatus-labels > div:nth-child(4) {
  width: 100%;
  text-align: right !important;
}
#orderStatus > div {
  margin: 0 auto;
}
#orderStatus > div:nth-child(1){
  background: #ffdf5a;
}
#orderStatus > div:nth-child(odd){
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid black
}

#orderStatus > div:nth-child(even){
  width: 25%;
  max-width: 100px;
  height: 2px;
  margin-top: 9px;
  background: black
}

.oneStat{
  // background: red;
}
.oneStat > div:nth-child(1){
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin-top: -5px !important;
  background: #ffdf5a;
}
.twoStat{
  // background: blue;
}
.twoStat > div:nth-child(3){
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin-top: -5px !important;
  background: #ffdf5a;
}
.threeStat{
  // background: #ffdf5a;
}

.threeStat > div:nth-child(5){
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin-top: -5px !important;
  background: #ffdf5a;
}
.threeStat > div:nth-child(3){
  background: #ffdf5a !important;
}
.fourStat{
  // background: orange;
}
.fourStat > div {
  // background: green;
}
.fourStat > div:nth-child(7){
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  margin-top: -5px !important;
  background: #ffdf5a;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c0000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}