<ion-content>

  <div class="searchResults" *ngIf="searchInput">
    Search Results
    <ion-list *ngFor="let item of searchArray">
      <ion-item (click)="showHideSearchDetails(item.data.name)">{{item.data.name}}</ion-item>
    </ion-list>
  </div>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <img src="../../assets/imgs/Logo/Logo.png" id="appLogo" alt="" (click)="back()" id="dankie-home-button">
          <!-- <h4>DankieJesu</h4> -->
        </div>
        <div id="searchbar">
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>SIGN OUT</p>
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark" fill="clear" (click)='back()'>
            <ion-icon name="home"></ion-icon>
          </ion-button>
          <div class="page-title">
            <div class="btn-top" id="allSubs" (click)="toggleAll()">Show All</div>
            <div class="btn-top" id="dankie" (click)="toggleDankie()">Dankie Jesu</div>
            <div class="btn-top" id="kwanga" (click)="toggleKwanga()">Kwanga Apparel</div>
          </div>
        </div>
        <div>

        </div>
        <div *ngFor="let item of allBrandSales">
          <div *ngIf="brandName === 'All'">

            <div *ngIf="item.brand === 'Kwanga' || item.brand === 'Dankie Jesu'">
              <div class="SubCat">
                <div class="gridder">
                  <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
                  <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
                  <div id="info">
                    <h5>{{item.data.name}}</h5>
                    <p>{{item.data.description}}.</p>
                    <div class="prices">
                      <p id="new-price">R {{item.data.saleprice}}</p>
                      <p id="old-price">R {{item.data.normalPrice}}</p>
                    </div>                 
                      <ion-button color="danger" (click)='deleteItem(item, item.productID)'>Remove</ion-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="brandName === 'Dankie Jesu'">

            <div *ngIf="item.brand === 'Dankie Jesu'">
              <div class="SubCat">
                <div class="gridder">
                  <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
                  <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
                  <div id="info">
                    <h5>{{item.data.name}}</h5>
                    <p>{{item.data.description}}.</p>
                    <div class="prices">
                      <p id="new-price">R {{item.data.saleprice}}</p>
                      <p id="old-price">R {{item.data.normalPrice}}</p>
                    </div>
                    <div class="options">
                      <ion-button color="danger" (click)='deleteItem(item, item.productID)'>Remove</ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="brandName === 'Kwanga Apparel'">

            <div *ngIf="item.brand === 'Kwanga'">
              <div class="SubCat">
                <div class="gridder">
                  <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
                  <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
                  <div id="info">
                    <h5>{{item.data.name}}</h5>
                    <p>{{item.data.description}}.</p>
                    <div class="prices">
                      <p id="new-price">R {{item.data.saleprice}}</p>
                      <p id="old-price">R {{item.data.normalPrice}}</p>
                    </div>
                    <div class="options">
                      <ion-button color="danger" (click)='deleteItem(item, item.productID)'>Remove</ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="right">
      </div>
    </div>
  </div>











  <div class="mobile-view">
    <div class="cont-small">
      <div class="top-bar">
        <ion-button color="dark" fill="clear" (click)='back()'>
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <div class="page-title">
          <div class="btn-top" id="allSubs" (click)="toggleAll()">Show All</div>
          <div class="btn-top" id="dankieSub" (click)="toggleDankie()">Dankie Jesu</div>
          <div class="btn-top" id="kwangaSub" (click)="toggleKwanga()">Kwanga Apparel</div>
        </div>
      </div>
      <p class="location">
        {{brandName}}
      </p>
      <div *ngFor="let item of allBrandSales">
        <div class="list" *ngIf="brandName === 'All'">

          <div class="SubCats" *ngIf="item.brand === 'Kwanga' || item.brand === 'Dankie Jesu'">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
            </div>
            <div>
              <p id="item-name-small">{{item.data.name}}</p>
              <div class="prices">
                <p id="new-price">R {{item.data.saleprice}}</p>
                <p id="old-price">R {{item.data.normalPrice}}</p>
              </div>

              <div class="opts">
                <div>
                  <ion-button color="danger" icon-only (click)='deleteItem(item, item.productID)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list" *ngIf="brandName === 'Dankie Jesu'">

          <div class="SubCats" *ngIf="item.brand === 'Dankie Jesu'">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
            </div>
            <div>
              <p id="item-name-small">{{item.data.name}}</p>
              <div class="prices">
                <p id="new-price">R {{item.data.saleprice}}</p>
                <p id="old-price">R {{item.data.normalPrice}}</p>
              </div>
              <div class="opts">
                <div>
                  <ion-button color="danger" icon-only (click)='deleteItem(item, item.productID)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list" *ngIf="brandName === 'Kwanga Apparel'">

          <div class="SubCats" *ngIf="item.brand === 'Kwanga'">
            <div>
              <img defer [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
              <img src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
            </div>
            <div>
              <p id="item-name-small">{{item.data.name}}</p>
              <div class="prices">
                <p id="new-price">R {{item.data.saleprice}}</p>
                <p id="old-price">R {{item.data.normalPrice}}</p>
              </div>
              <div class="opts">
                <div>
                  <ion-button color="danger" icon-only (click)='deleteItem(item, item.productID)'>
                    <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</ion-content>