<ion-content>
  <div class="searchResults" *ngIf="searchInput">
    Search Results
    <ion-list *ngFor="let item of searchArray">
      <div *ngIf='searchArray.length > 0'>
        <ion-item (click)="showHideSearchDetails(item)">{{item.data.name}}</ion-item>
      </div>
    </ion-list>

    <div id="oops" *ngIf="searchArray.length === 0">
      <p>
        <ion-icon name="sad"></ion-icon> There are no matches for this search
      </p>
    </div>
  </div>
  <div class="clicked-from-search" *ngIf="clickedSearchItem === 'showItem'">
    <div>
      <button id="dismisser" (click)="showHideSearchDetails('close')">
        <ion-icon name="close"></ion-icon>
      </button>
      <label for="uploaderBtn" id="imageToupdate">
        <img src="../../assets/imgs/331249_1_800.jpeg" *ngIf='!updatePic' alt="">
        <img [src]="updatePic" *ngIf='updatePic' alt="">
      </label>
      <div class="product-information-search">
        <input type="text" placeholder="Item Name" maxlength="25" [(ngModel)]='updateName'>
        <input type="text" placeholder="Price (R)" (keyup)='changeSearchPrice();' [(ngModel)]='updatePrice'>
        <textarea rows="4" type="text" placeholder="Description" maxlength="150"
          [(ngModel)]='updateDescription'></textarea>
        <input #updateSearchPic width='100px' id="uploaderBtn" class='pictureInput' type="file"
          accept="image/jpeg, jpg, tif, png" (change)='addUpdatePicture($event)'>
        <ion-button color="dark" (click)='updateItem()'>Update</ion-button>
        <ion-button color="medium" (click)='hideItem()'>Hide</ion-button>
        <ion-button color="danger" (click)='deleteItem()'>Delete</ion-button>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <h4>DankieJesu</h4>
        </div>
        <div id="searchbar">
          <ion-searchbar [(ngModel)]='searchInput' (ionChange)='search()'></ion-searchbar>
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>Sign out</p>
          <img src="../../assets/imgs/person-icon-svg.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="body-content">
      <div id="left" padding>
        <div class="history-items">
          <div class="title-top">
            <h5> Order History (50)</h5>
            <ion-icon name="close" id="closer" (click)="dismissList()"></ion-icon>
          </div>
          <div class="items-list">
            <ion-card *ngFor='let item of history' (click)='viewOrderHistory(item)'>
              <p class="floating">Paid</p>
              <p><b>{{item.details.userID}}</b></p>
              <p>R {{item.details.totalPrice}}</p>
              <p>REF: {{item.refNo}}</p>
              <p>Items ({{item.details.numberOfItems}})</p>

            </ion-card>
          </div>
        </div>
        <div class="pending-items">
          <div class="title-top">
            <h5>Pending Orders (30)</h5>
            <ion-icon name="close" id="closer" (click)="dismissList()"></ion-icon>
          </div>
          <div class="items-list">
            <ion-card *ngFor='let item of pendingOrders' (click)='viewPendingOrder(item)'>
              <p class="floating" id="bottom-right">Items ({{item.noOfItems}})</p>
              <p><b>{{item.details.name}}</b></p>
              <p>R {{item.details.totalPrice}}</p>
              <p>REF: {{item.refNo}}</p>

            </ion-card>
          </div>
        </div>
        <div class="inventory-items">
          <div class="title-top">
            <h5>Inventory (3000)</h5>
            <ion-icon name="close" id="closer" (click)="dismissList()"></ion-icon>
          </div>
          <div class="items-list">
            <ion-card *ngFor='let item of allProducts'>
              <img [src]="item.data.pictureLink" *ngIf='item.data' alt="">
              <p><b>{{item.data.name}}</b></p>
              <p>{{item.data.quantity}}</p>

              <div class="quantities">
                <div>
                  <ion-icon name="remove" (click)='subtract(item)'></ion-icon>
                </div>
                <div><input type="number" maxlength='6' [id]='item.productID' [value]="item.data.quantity"
                    (keyup)='changeQuantity($event, item)'></div>
                <div>
                  <ion-icon name="add" (click)='add(item)'></ion-icon>
                </div>
                <div (click)='saveQuantity(item.brand, item.category, item.productID, item.data.quantity)' id="saver">
                  Save</div>
              </div>

            </ion-card>
          </div>
        </div>
        <div class="side-buttons" (click)="showPendingList()">Pending Orders (30)</div>
        <div class="side-buttons" (click)="showHistoryList()">Order History (50)</div>
        <div class="side-buttons" (click)="showInventoryList()">Inventory (3000)</div>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark" (click)="reloadPage()">Home</ion-button>
        </div>
        <div class="slide-specials">
          <ion-item (click)='viewSales("viewAll")'>
            <ion-label>Sales &amp; Specials</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" (click)='viewSales("viewAll")'>
              <p id="item-label1">View All Specials</p>
              <img class="bg" src="../../assets/imgs/All.png" *ngIf='!allSpecialsPicture' alt="">
              <img class="bg" [src]="allSpecialsPicture" *ngIf='allSpecialsPicture' alt="">
            </div>
            <div class="box-item" (click)='viewSales("Dankie Jesu")'>
              <p id="item-label">Dankie Jesu Clothing</p>
              <img class="bg" src="../../assets/imgs/Dankie.png" *ngIf='!dankieJesuSpecialsPicture' alt="">
              <img class="bg" [src]="dankieJesuSpecialsPicture" *ngIf='dankieJesuSpecialsPicture' alt="">
            </div>
            <div class="box-item" (click)='viewSales("Kwanga")'>
              <p id="item-label">Kwanga Apparel</p>
              <img class="bg" src="../../assets/imgs/Kwanga.png" *ngIf='!kwangaSpecialsPicture' alt="">
              <img class="bg" [src]="kwangaSpecialsPicture" *ngIf='kwangaSpecialsPicture' alt="">
            </div>
          </div>
        </div>
        <div class="slide-winter-summer">
          <ion-item (click)='viewMore("summer-gear")'>
            <ion-label>Summer Gear</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of summerGear'>
              <p id="item-label">{{item.data.name}}</p>
              <img class="bg" [src]="item.data.pictureLink" *ngIf='item.data' alt="">
              <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data" alt="">
            </div>

          </div>
        </div>

        <div class="slide-winter-summer">
          <ion-item (click)='viewMore("winter-gear")'>
            <ion-label>Winter Gear</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of winterGear'>
              <p id="item-label">{{item.data.name}}</p>
              <img class="bg" [src]="item.data.pictureLink" *ngIf='item.data' alt="">
              <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data" alt="">
            </div>

          </div>
        </div>

        <div class="slide-specials">
          <ion-item (click)='viewMore("kwanga-sub-categories")'>
            <ion-label>Kwanga Apparel</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of kwangaGear'>
              <p id="item-label1">{{item.data.name}}</p>
              <img class="bg" [src]="item.data.pictureLink" *ngIf='item.data' alt="">
              <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.data" alt="">
            </div>

          </div>
        </div>
      </div>
      <div id="right">

        <div class="adding">
          <h4>Add Item</h4>
          <select #departmentCombo (change)="changeDepartment($event); checkValidity()">
            <option value='i' *ngFor='let i of departmentOptions' [value]='i'>{{i}}</option>

          </select><br>

          <select #nativeCategory [disabled]='department === "Select Department"' (change)="changeCategory($event);">
            <option *ngFor='let x of categoryOptions' [value]='x'>{{x}}</option>
          </select><br>

          <input type="text" maxlength='25' class="user-input" placeholder="Item name" [(ngModel)]='itemName'
            (keyup)='checkItemName();'>
          <input #itemPrice type="number" class="user-input" placeholder="Price" [(ngModel)]='price'
            (keyup)='changePrice()'>
          <textarea type="text" maxlength='150' rows="5" class="user-input-area" placeholder="About the item"
            [(ngModel)]='description' (keyup)='checkItemDescription();'></textarea>
          <div class="sizes">

            <input #checkboxXS type='checkbox' name='checkboxXS' (change)='check($event, "XS")'> XS
            <input #checkboxS type='checkbox' name='checkboxS' (change)='check($event, "S")'> S
            <input #checkboxM type='checkbox' name='checkboxM' (change)='check($event, "M")'> M
            <input #checkboxL type='checkbox' name='checkboxL' (change)='check($event, "L")'> L
            <input #checkboxXL type='checkbox' name='checkboxXL' (change)='check($event, "XL")'> XL
            <input #checkboxXXL type='checkbox' name='checkboxXXL' (change)='check($event, "XXL")'> XXL
            <input #checkboxXXXL type='checkbox' name='checkboxXXXL' (change)='check($event, "XXXL")'> XXXL
          </div>

          <!-- <button value='Insert picture'> -->
          <input #fileInput width='100px' id="image-uploader" class='pictureInput' type="file"
            accept="image/jpeg, jpg, tif, png" (change)='addPicture($event)'>
          <label for="image-uploader">
            <div class="adder">
              <ion-icon name="add"></ion-icon>
            </div>
            <div class="imageChanged">
              Change Image
            </div>
            <img src="{{myUpload}}" id="myUpload-Image" alt="">
          </label>
          <!-- </button> -->
          <!-- Div for colors, checkboxes work but currently can't add pictures -->
          <div class='colors'>
            <h5>Available colors</h5>
            <input #checkboxBlack type='checkbox' name='checkboxBlack' (change)='checkColor($event, "Black")'>&nbsp;<img
              width='15px' style='border: 1px solid rgb(0,0,0)'
              src='.\assets\product-colors\black.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input #checkboxBrown type='checkbox' name='checkboxBrown' (change)='checkColor($event, "Brown")'>&nbsp;<img
              width='15px' style='border: 1px solid rgb(0,0,0)'
              src='.\assets\product-colors\brown.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input #checkboxOrange type='checkbox' name='checkboxOrange'
              (change)='checkColor($event, "Orange")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)'
              src='.\assets\product-colors\orange.png'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input #checkboxYellow type='checkbox' name='checkboxYellow'
              (change)='checkColor($event, "Yellow")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)'
              src='.\assets\product-colors\yellow.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input #checkboxWhite type='checkbox' name='checkboxWhite' (change)='checkColor($event, "White")'>&nbsp;<img
              width='15px' style='border: 1px solid rgb(0,0,0)'
              src='.\assets\product-colors\white.png'>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <ion-button [disabled]='!addForm' (click)='addProduct()' expand="full" color="success">Add to Stall
          </ion-button>
          <ion-button #btnClearForm [disabled]='!formHasValues' (click)='clearForm()' expand="full" color="danger">Clear
            Form</ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-view">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)='signOutPopup()'>
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="small-nav">
      <div (click)="showLeftSide()" *ngIf="!miniSearchBarState">
        <ion-icon name="menu"></ion-icon>
      </div>
      <div *ngIf="miniSearchBarState">
        <!-- this is the empty placehodler -->
      </div>
      <div *ngIf="!miniSearchBarState">Dankie Jesu</div>
      <div *ngIf="miniSearchBarState">
        <ion-searchbar [(ngModel)]='searchInput' (ionChange)='search()' show-cancel-button="never"></ion-searchbar>
      </div>
      <div (click)="showSearchBar()">
        <ion-icon name="{{searchButtonState}}"></ion-icon>
      </div>
      <div (click)="showRightSide()" *ngIf="!miniSearchBarState">
        <ion-icon name="add-circle"></ion-icon>
      </div>
      <div *ngIf="miniSearchBarState"></div>
    </div>
    <div id="left-items-list">
      <div class="top-bar">
        Menu
        <ion-button fill="clear" color="dark" icon-only id="dismiss-button" (click)="hideSideMenu()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <div class="small-side-items" *ngIf="sideMenuButtons">
        <!-- showPendingList() -->
        <div id="smallOne" (click)="showPendingListSmall()">Pending Orders (30)</div>
        <!-- showHistoryList() -->
        <div id="smallTwo" (click)="showHistoryListSmall()">Order History (50)</div>
        <!-- showInventoryList() -->
        <div id="smallThree" (click)="showInventoryListSmall()">Inventory (3000)</div>
      </div>
      <!-- *ngIf="!sideMenuButtons" -->
      <div class="small-side-items" *ngIf="!sideMenuButtons">
        <div class="forPending" *ngIf="listOfItems === 1">
          <div class="title-top">
            <ion-icon name="arrow-back" class="backBtn" (click)="stepBackToBtns()"></ion-icon>
            <h5>Pending Orders</h5>
          </div>
          <div *ngFor='let item of pendingOrders' (click)='viewPendingOrder(item)'>
            <!-- *ngIf="status === 'collected'" -->
            <div class="myItems">
              <p><b>{{item.details.name}}</b></p>
              <p>R {{item.details.totalPrice}}</p>
              <p>REF: {{item.refNo}}</p>
              <p>Items ({{item.noOfItems}})</p>
            </div>
          </div>

        </div>
        <div class="forHistory" *ngIf="listOfItems === 2">


          <div class="title-top">
            <ion-icon name="arrow-back" class="backBtn" (click)="stepBackToBtns()"></ion-icon>
            <h5>History</h5>
          </div>
          <div class="myItems" *ngFor='let item of history' (click)='viewOrderHistory(item)'>

            <p><b>{{item.details.userID}}</b></p>
            <p>R {{item.details.totalPrice}}</p>
            <p>REF: {{item.refNo}}</p>
            <p>Items ({{item.details.numberOfItems}})</p>
          </div>
        </div>
        <div class="forInventory" *ngIf="listOfItems === 3">

          <div class="title-top">
            <ion-icon name="arrow-back" class="backBtn" (click)="stepBackToBtns()"></ion-icon>
            <h5>Inventory</h5>
          </div>
          <div class="myItems" *ngFor='let item of allProducts '>
            <img [src]="item.data.pictureLink" *ngIf='item.data' alt="">
            <p id="nameOfItem">{{item.data.name}}</p>
            <p id="item-price">R799.90</p>

            <div class="quantities">
              <div>
                <ion-icon name="remove" (click)='subtract(item)'></ion-icon>
              </div>
              <div><input type="number" [id]='item.productID' [value]="item.data.quantity" (keyup)='changePrice()'>
              </div>
              <div>
                <ion-icon name="add" (click)='add(item)'></ion-icon>
              </div>
              <div (click)='saveQuantity(item.brand, item.category, item.productID, item.data.quantity)'>Save</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div id="right-items-list">
      <div class="top-bar">
        Add Item
        <ion-button fill="clear" color="dark" icon-only id="dismiss-button" (click)="hideSideMenu()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="adding === true" class="adding">
        <h4>Add Item</h4>
        <select #departmentCombo (click)="changeDepartment($event);">
          <option value='i' *ngFor='let i of departmentOptions' [value]='i'>{{i}}</option>

        </select><br>

        <select #nativeCategory [disabled]='department === "Select Department"' (click)="changeCategory($event);">
          <option *ngFor='let x of categoryOptions' [value]='x'>{{x}}</option>
        </select><br>

        <input type="text" class="user-input" placeholder="Item name" [(ngModel)]='itemName' (keyup)='checkValidity()'>
        <input #itemPrice type="number" class="user-input" placeholder="Price" [(ngModel)]='price'
          (keyup)='checkValidity(); changePrice()'>
        <textarea type="text" rows="5" class="user-input-area" placeholder="About the item" [(ngModel)]='description'
          (keyup)='checkValidity()'></textarea>
        <div class="sizes">

          <input #checkboxXS type='checkbox' name='checkboxXS' (change)='check($event, "XS")'> XS
          <input #checkboxS type='checkbox' name='checkboxS' (change)='check($event, "S")'> S
          <input #checkboxM type='checkbox' name='checkboxM' (change)='check($event, "M")'> M
          <input #checkboxL type='checkbox' name='checkboxL' (change)='check($event, "L")'> L
          <input #checkboxXL type='checkbox' name='checkboxXL' (change)='check($event, "XL")'> XL
          <input #checkboxXXL type='checkbox' name='checkboxXXL' (change)='check($event, "XXL")'> XXL
          <input #checkboxXXXL type='checkbox' name='checkboxXXXL' (change)='check($event, "XXXL")'> XXXL
        </div>

        <!-- <button value='Insert picture'> -->
        <input #fileInput width='100px' id="image-uploader" class='pictureInput' type="file"
          accept="image/jpeg, jpg, tif, png" (change)='addPicture($event)'>
        <label for="image-uploader">
          <div class="adder">
            <ion-icon name="add"></ion-icon>
          </div>
          <div class="imageChanged">
            Change Image
          </div>
          <img src="{{myUpload}}" id="myUpload-Image" alt="">
        </label>
        <!-- </button> -->
        <!-- Div for colors, checkboxes work but currently can't add pictures -->
        <div class='colors'>
          <h5>Available colors</h5>
          <input #checkboxBlack type='checkbox' name='checkboxBlack' (change)='checkColor($event, "Black")'>&nbsp;<img
            width='15px' style='border: 1px solid rgb(0,0,0)'
            src='.\assets\product-colors\black.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
          <input #checkboxBrown type='checkbox' name='checkboxBrown' (change)='checkColor($event, "Brown")'>&nbsp;<img
            width='15px' style='border: 1px solid rgb(0,0,0)'
            src='.\assets\product-colors\brown.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
          <input #checkboxOrange type='checkbox' name='checkboxOrange'
            (change)='checkColor($event, "Orange")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)'
            src='.\assets\product-colors\orange.png'>&nbsp;&nbsp;&nbsp;&nbsp;
          <input #checkboxYellow type='checkbox' name='checkboxYellow'
            (change)='checkColor($event, "Yellow")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)'
            src='.\assets\product-colors\yellow.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
          <input #checkboxWhite type='checkbox' name='checkboxWhite' (change)='checkColor($event, "White")'>&nbsp;<img
            width='15px' style='border: 1px solid rgb(0,0,0)'
            src='.\assets\product-colors\white.png'>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <ion-button [disabled]='!addForm' (click)='addProduct()' expand="full" color="success">Add to Stall
        </ion-button>
        <ion-button #btnClearForm [disabled]='!formHasValues' (click)='clearForm()' expand="full" color="danger">Clear
          Form</ion-button>
      </div>
    </div>
    <div class="cont-small">
      <div class="welcomer">
        Welcome Lunga
      </div>
      <div class="butuh">

        <ion-button expand="full" class="outerBtns" color="transparent" (click)='viewSales("viewAll")'>
          <span>Sales &amp; Specials <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <div class="slide-section">
          <ion-slides pager="false" [options]="sliderConfig" #sliderRef>
            <ion-slide>
              <div class="slide-img" (click)='viewSales("viewAll")'>
                <h4>View All</h4>
                <img class="slide-img" src="../../assets/imgs/All.png" *ngIf='!allSpecialsPicture' alt="">
                <img class="slide-img" [src]="allSpecialsPicture" *ngIf='allSpecialsPicture' alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img" (click)='viewSales("Dankie Jesu")'>
                <h4>Dankie Jesu</h4>
                <img class="slide-img" src="../../assets/imgs/Dankie.png" *ngIf='!dankieJesuSpecialsPicture' alt="">
                <img class="slide-img" [src]="dankieJesuSpecialsPicture" *ngIf='dankieJesuSpecialsPicture' alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img" (click)='viewSales("Kwanga")'>
                <h4>Kwanga Apparel</h4>
                <img class="slide-img" src="../../assets/imgs/Kwanga.png" *ngIf='!kwangaSpecialsPicture' alt="">
                <img class="slide-img" [src]="kwangaSpecialsPicture" *ngIf='kwangaSpecialsPicture' alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
        <ion-button expand="full" class="midBtns" color="transparent" (click)='viewMore("summer-gear")'>
          <span>Summer Gear <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <ion-button expand="full" class="midBtns" color="transparent" (click)='viewMore("winter-gear")'>
          <span>Winter Gear<ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <ion-button expand="full" class="outerBtns" color="transparent" (click)='viewMore("kwanga-sub-categories")'>
          <span>Kwanga Apparel<ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <div class="slide-section2">
          <ion-slides pager="false" [options]="sliderConfigSmall" #sliderRefSmall>
            <ion-slide *ngFor='let item of kwangaGear'>
              <div class="slide-img">
                <p>{{item.data.name}}</p>
                <!-- <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt=""> -->
                <img class="slide-img" [src]="item.data.pictureLink" *ngIf='item.data.pictureLink' alt="">
                <img class="slide-img" src="../../assets/imgs/images.jpg" *ngIf="!item.data.pictureLink" alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    </div>
  </div>
</ion-content>