<ion-content>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <h4>DankieJesu</h4>
        </div>
        <div id="searchbar">
          <ion-searchbar></ion-searchbar>
        </div>
        <div id="admin">
          <p>Administrator</p>
          <img src="../../assets/imgs/person-icon-svg.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
          <div class="history-items">
            <div class="title-top">
              <h5>History</h5>
              <ion-icon name="close" id="closer"></ion-icon>
            </div>
            <div class="items-list">
              <ion-card>
                <p class="floating">Paid</p>
                <p><b>John Doe</b></p>
                <p>R 799.90</p>
                <p>REF: NGH2345678987654</p>
                <p>Items (8)</p>
  
              </ion-card>
            </div>
          </div>
          <div class="pending-items">
            <div class="title-top">
              <h5>Pedning Orders</h5>
              <ion-icon name="close" id="closer"></ion-icon>
            </div>
            <div class="items-list">
              <ion-card>
                <p class="floating" id="bottom-right">Items (8)</p>
                <p><b>John Doe</b></p>
                <p>R 799.90</p>
                <p>REF: NGH2345678987654</p>
  
              </ion-card>
            </div>
          </div>
          <div class="inventory-items">
            <div class="title-top">
              <h5>Inventory</h5>
              <ion-icon name="close" id="closer"></ion-icon>
            </div>
            <div class="items-list">
              <ion-card>
                <img src="../../assets/imgs/images.jpg" alt="">
                <p><b>SoHo Skirt</b></p>
                <p>R 799.90</p>
                
                <div class="quantities">
                  <div>
                      <ion-icon name="remove"></ion-icon>
                  </div>
                  <div><input type="number" value="78"></div>
                  <div><ion-icon name="add"></ion-icon></div>
                  <div>Save</div>
                </div>
  
              </ion-card>
            </div>
          </div>
        <h3>Hello Lunga</h3>
        <div class="side-buttons">Pending Orders</div>
        <div class="side-buttons">History</div>
        <div class="side-buttons">Inventory</div>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark">Home</ion-button>
        </div>
        <div class="slide-specials">
          <ion-item (click)='viewSales("viewAll")'>
            <ion-label>Sales &amp; Specials</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" (click)='viewSales("viewAll")'>
              <p id="item-label1">View All Specials</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>
            <div class="box-item" (click)='viewSales("Dankie Jesu")'>
              <p id="item-label">Dankie Jesu Clothing</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>
            <div class="box-item" (click)='viewSales("Kwanga")'>
              <p id="item-label">Kwanga Apparel</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="slide-winter-summer">
          <ion-item (click)='viewMore("summer-gear")'>
            <ion-label>Summer Gear</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of summerGear'>
              <p id="item-label">{{item.product.description}}</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>

          </div>
        </div>

        <div class="slide-winter-summer">
          <ion-item (click)='viewMore("winter-gear")'>
            <ion-label>Winter Gear</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of winterGear'>
              <p id="item-label">{{item.product.description}}</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>

          </div>
        </div>

        <div class="slide-specials">
          <ion-item (click)='viewMore("kwanga-sub-categories")'>
            <ion-label>Kwanga Apparel</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of kwangaGear'>
              <p id="item-label1">{{item.product.description}}</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>

          </div>
        </div>
      </div>
      <div id="right">
        
        <div class="adding">
          <h4>Add Item</h4>
        
       <label>is Accessory? </label> <input type='checkbox' name='accessoryCheck' id="accessory" (click)='isAccessory($event)'>
       <label>for Summer? </label> <input type='checkbox' name='accessoryCheck' id="summer" (click)='isSummer($event)'>
        <select (click)="changeDepartment($event);">
        <option value='i' *ngFor='let i of departmentOptions' [value]='i'>{{i}}</option>
    
      </select><br>
    
      <select [disabled]='!department' (click)="changeCategory($event);" >
          <option *ngFor='let x of categoryOptions' [value]='x'>{{x}}</option>
      </select><br>
    
      <input type="text" class="user-input" placeholder="Item name" [(ngModel)]='itemName' (keyup)='checkValidity()'>
      <input type="number" class="user-input" placeholder = "Price" [(ngModel)]='price'  (keyup)='checkValidity()'>
      <textarea type="text" rows="5" class="user-input-area" placeholder="About the item" [(ngModel)]='description'  (keyup)='checkValidity()'></textarea>
      <div class="sizes">
        
    <input type='checkbox' name='checkboxXS'  (change)='check($event, "XS")'> XS
    <input type='checkbox' name='checkboxS'  (change)='check($event, "S")'> S 
    <input type='checkbox' name='checkboxM'  (change)='check($event, "M")'> M
    <input type='checkbox' name='checkboxL'  (change)='check($event, "L")'> L
    <input type='checkbox' name='checkboxXL'  (change)='check($event, "XL")'> XL
    <input type='checkbox' name='checkboxXXL'  (change)='check($event, "XXL")'> XXL
    <input type='checkbox' name='checkboxXXXL'  (change)='check($event, "XXXL")'> XXXL
      </div>
      <input *ngIf='' width='100px' type="file" value='Insert black picture' [(ngModel)]='blackPic'/>
      <!-- Div for colors, checkboxes work but currently can't add pictures -->
      <div class='colors' >
        <h5>Available colors</h5>
        <input type='checkbox' name='checkboxBlack'  (change)='checkColor($event, "Black")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\black.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type='checkbox' name='checkboxBrown'  (change)='checkColor($event, "Brown")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\brown.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type='checkbox' name='checkboxOrange'  (change)='checkColor($event, "Orange")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\orange.png'>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type='checkbox' name='checkboxYellow'  (change)='checkColor($event, "Yellow")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\yellow.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
        <input type='checkbox' name='checkboxWhite'  (change)='checkColor($event, "White")'>&nbsp;<img width='15px' style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\white.png'>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <ion-button [disabled]='!addForm' (click) = 'addProduct()' expand="full" color="success">Add to Stall</ion-button>
      <ion-button [disabled]='!formHasValues' (click)='clearForm()' expand="full" color="danger">Clear Form</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
