<ion-content>
  <div class="searchResults" *ngIf="searchInput">
    Search Results
    <ion-list *ngFor="let item of searchArray">
      <ion-item (click)="showHideSearchDetails()">{{item.data.name}}</ion-item>
    </ion-list>
  </div>
  <div class="clicked-from-search" *ngIf="clickedSearchItem === 'showItem'">
    <div>
      <button id="dismisser" (click)="showHideSearchDetails()">
        <ion-icon name="close"></ion-icon>
      </button>
      <img src="../../assets/imgs/331249_1_800.jpeg" alt="">
      <div class="product-information-search">
        <input type="text" placeholder="Item Name">
        <input type="text" placeholder="Price (R)">
        <textarea rows="4" type="text" placeholder="Description"></textarea>

        <ion-button color="success">Promote</ion-button>
        <ion-button color="dark">Update</ion-button>
        <ion-button color="medium">Hide</ion-button>
        <ion-button color="danger">Delete</ion-button>
      </div>
    </div>
  </div>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <h4>DankieJesu</h4>
        </div>
        <div id="searchbar">
          <ion-searchbar [(ngModel)]='searchInput' (ionChange)='search()'></ion-searchbar>
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>Sign out</p>
          <img src="../../assets/imgs/person-icon-svg.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
        <div class="history-items">
          <div class="title-top">
            <h5>History</h5>
            <ion-icon name="close" id="closer" (click)="dismissList()"></ion-icon>
          </div>
          <div class="items-list">
            <ion-card *ngFor='let item of history' (click)='viewOrderHistory(item)'>
              <p class="floating">Paid</p>
              <p><b>{{item.details.userID}}</b></p>
              <p>R {{item.details.totalPrice}}</p>
              <p>REF: {{item.refNo}}</p>
              <p>Items ({{item.details.numberOfItems}})</p>

            </ion-card>
          </div>
        </div>
        <div class="pending-items">
          <div class="title-top">
            <h5>Pending Orders</h5>
            <ion-icon name="close" id="closer" (click)="dismissList()"></ion-icon>
          </div>
          <div class="items-list">
            <ion-card *ngFor='let item of pendingOrders' (click)='viewPendingOrder(item)'>
              <p class="floating" id="bottom-right">Items ({{item.noOfItems}})</p>
              <p><b>{{item.details.name}}</b></p>
              <p>R {{item.details.totalPrice}}</p>
              <p>REF: {{item.refNo}}</p>

            </ion-card>
          </div>
        </div>
        <div class="inventory-items">
          <div class="title-top">
            <h5>Inventory</h5>
            <ion-icon name="close" id="closer" (click)="dismissList()"></ion-icon>
          </div>
          <div class="items-list">
            <ion-card *ngFor='let item of allProducts'>
              <img [src]="item.pictures.link" *ngIf='item.pictures' alt="">
              <p><b>{{item.data.name}}</b></p>
              <p>{{item.data.quantity}}</p>

              <div class="quantities">
                <div>
                  <ion-icon name="remove" (click)='subtract(item)'></ion-icon>
                </div>
                <div><input type="number" [id]='item.productID' [value]="item.data.quantity"
                    (keyup)='changePrice(value, item)'></div>
                <div>
                  <ion-icon name="add" (click)='add(item)'></ion-icon>
                </div>
                <div (click)='saveQuantity(item.brand, item.category, item.productID, item.data.quantity)'>Save</div>
              </div>

            </ion-card>
          </div>
        </div>
        <div class="side-buttons" (click)="showPendingList()">Pending Orders</div>
        <div class="side-buttons" (click)="showHistoryList()">History</div>
        <div class="side-buttons" (click)="showInventoryList()">Inventory</div>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark">Home</ion-button>
        </div>
        <div class="slide-specials">
          <ion-item (click)='viewSales("viewAll")'>
            <ion-label>Sales &amp; Specials</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" (click)='viewSales("viewAll")'>
              <p id="item-label1">View All Specials</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>
            <div class="box-item" (click)='viewSales("Dankie Jesu")'>
              <p id="item-label">Dankie Jesu Clothing</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>
            <div class="box-item" (click)='viewSales("Kwanga")'>
              <p id="item-label">Kwanga Apparel</p>
              <img class="bg" src="../../assets/imgs/images.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="slide-winter-summer">
          <ion-item (click)='viewMore("summer-gear")'>
            <ion-label>Summer Gear</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of summerGear'>
              <p id="item-label">{{item.data.name}}</p>
              <img class="bg" [src]="item.pictures.link" *ngIf='item.pictures' alt="">
              <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.pictures" alt="">
            </div>

          </div>
        </div>

        <div class="slide-winter-summer">
          <ion-item (click)='viewMore("winter-gear")'>
            <ion-label>Winter Gear</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of winterGear'>
              <p id="item-label">{{item.data.name}}</p>
              <img class="bg" [src]="item.pictures.link" *ngIf='item.pictures' alt="">
              <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.pictures" alt="">
            </div>

          </div>
        </div>

        <div class="slide-specials">
          <ion-item (click)='viewMore("kwanga-sub-categories")'>
            <ion-label>Kwanga Apparel</ion-label>
            <ion-note slot="end" color="primary">
              See All
              <ion-icon name="arrow-forward"></ion-icon>

            </ion-note>
          </ion-item>
          <div class="items">
            <div class="box-item" *ngFor='let item of kwangaGear'>
              <p id="item-label1">{{item.data.name}}</p>
              <img class="bg" [src]="item.pictures.link" *ngIf='item.pictures' alt="">
              <img class="bg" src="../../assets/imgs/images.jpg" *ngIf="!item.pictures" alt="">
            </div>

          </div>
        </div>
      </div>
      <div id="right">

        <div class="adding">
          <h4>Add Item</h4>

          <label>is Accessory? </label> <input type='checkbox' name='accessoryCheck' id="accessory"
            (click)='isAccessory($event)'>
          <label>for Summer? </label> <input type='checkbox' name='accessoryCheck' id="summer"
            (click)='isSummer($event)'>
          <select (click)="changeDepartment($event);">
            <option #departmentCombo value='i' *ngFor='let i of departmentOptions' [value]='i'>{{i}}</option>

          </select><br>

          <select [disabled]='!department' (click)="changeCategory($event);">
            <option *ngFor='let x of categoryOptions' [value]='x'>{{x}}</option>
          </select><br>

          <input type="text" class="user-input" placeholder="Item name" [(ngModel)]='itemName'
            (keyup)='checkValidity()'>
          <input type="number" class="user-input" placeholder="Price" [(ngModel)]='price' (keyup)='checkValidity()'>
          <textarea type="text" rows="5" class="user-input-area" placeholder="About the item" [(ngModel)]='description'
            (keyup)='checkValidity()'></textarea>
          <div class="sizes">

            <input type='checkbox' name='checkboxXS' (change)='check($event, "XS")'> XS
            <input type='checkbox' name='checkboxS' (change)='check($event, "S")'> S
            <input type='checkbox' name='checkboxM' (change)='check($event, "M")'> M
            <input type='checkbox' name='checkboxL' (change)='check($event, "L")'> L
            <input type='checkbox' name='checkboxXL' (change)='check($event, "XL")'> XL
            <input type='checkbox' name='checkboxXXL' (change)='check($event, "XXL")'> XXL
            <input type='checkbox' name='checkboxXXXL' (change)='check($event, "XXXL")'> XXXL
          </div>

          <!-- <button value='Insert picture'> -->
          <input #fileInput width='100px' class='pictureInput' type="file" accept="image/jpeg, jpg, tif, png"
            (change)='addPicture($event)'>
          <!-- </button> -->
          <!-- Div for colors, checkboxes work but currently can't add pictures -->
          <div class='colors'>
            <h5>Available colors</h5>
            <input type='checkbox' name='checkboxBlack' (change)='checkColor($event, "Black")'>&nbsp;<img width='15px'
              style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\black.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type='checkbox' name='checkboxBrown' (change)='checkColor($event, "Brown")'>&nbsp;<img width='15px'
              style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\brown.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type='checkbox' name='checkboxOrange' (change)='checkColor($event, "Orange")'>&nbsp;<img width='15px'
              style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\orange.png'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type='checkbox' name='checkboxYellow' (change)='checkColor($event, "Yellow")'>&nbsp;<img width='15px'
              style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\yellow.jpg'>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type='checkbox' name='checkboxWhite' (change)='checkColor($event, "White")'>&nbsp;<img width='15px'
              style='border: 1px solid rgb(0,0,0)' src='.\assets\product-colors\white.png'>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <ion-button [disabled]='!addForm' (click)='addProduct()' expand="full" color="success">Add to Stall
          </ion-button>
          <ion-button [disabled]='!formHasValues' (click)='clearForm()' expand="full" color="danger">Clear Form
          </ion-button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-view">
    <div class="small-nav">
      <div (click)="showLeftSide()">
        <ion-icon name="menu"></ion-icon>
      </div>
      <div *ngIf="!miniSearchBarState">Dankie Jesu</div>
      <div *ngIf="miniSearchBarState">
        <ion-searchbar></ion-searchbar>
      </div>
      <div (click)="showSearchBar()">
        <ion-icon name="{{searchButtonState}}"></ion-icon>
      </div>
      <div (click)="showRightSide()">
        <ion-icon name="add-circle"></ion-icon>
      </div>
    </div>
    <div id="left-items-list">
      <div class="top-bar">
        Menu
        <ion-button fill="clear" color="dark" icon-only id="dismiss-button" (click)="hideSideMenu()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
      <div class="small-side-items" *ngIf="sideMenuButtons">
        <!-- showPendingList() -->
        <div id="smallOne" (click)="showPendingListSmall()">Pending Orders</div>
        <!-- showHistoryList() -->
        <div id="smallTwo" (click)="showHistoryListSmall()">History</div>
        <!-- showInventoryList() -->
        <div id="smallThree" (click)="showInventoryListSmall()">Inventory</div>
      </div>
      <!-- *ngIf="!sideMenuButtons" -->
      <div class="small-side-items" *ngIf="!sideMenuButtons">
        <div class="forPending" *ngIf="listOfItems === 1">
          <div class="title-top">
            <ion-icon name="arrow-back" class="backBtn" (click)="stepBackToBtns()"></ion-icon>
            <h5>Pending Orders</h5>
          </div>
          <div class="myItems">
            <p><b>John Doe</b></p>
            <p>R 799.90</p>
            <p>REF: NGH2345678987654</p>
            <p>Items (8)</p>
          </div>
        </div>
        <div class="forHistory" *ngIf="listOfItems === 2">


          <div class="title-top">
            <ion-icon name="arrow-back" class="backBtn" (click)="stepBackToBtns()"></ion-icon>
            <h5>History</h5>
          </div>
          <div class="myItems">
            <p>Paid</p>
            <p><b>John Doe</b></p>
            <p>R 799.90</p>
            <p>REF: NGH2345678987654</p>
            <p>Items (8)</p>
          </div>
        </div>
        <div class="forInventory" *ngIf="listOfItems === 3">

          <div class="title-top">
            <ion-icon name="arrow-back" class="backBtn" (click)="stepBackToBtns()"></ion-icon>
            <h5>Inventory</h5>
          </div>
          <div class="myItems">
            <img src="../../assets/imgs/331249_1_800.jpeg" alt="">
            <p id="nameOfItem">SoHo Jersey</p>
            <p id="item-price">R799.90</p>
            QTY:
            <input type="number" id="qtyInput" value="30">
          </div>
        </div>
      </div>
    </div>
    <div id="right-items-list">
      <div class="top-bar">
        Add Item
        <ion-button fill="clear" color="dark" icon-only id="dismiss-button" (click)="hideSideMenu()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="cont-small">
      <div class="welcomer">
        Welcome Lunga
      </div>
      <div class="butuh">

        <ion-button expand="full" class="outerBtns" color="transparent">
          <span>Sales &amp; Specials <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <div class="slide-section">
          <ion-slides pager="false" [options]="sliderConfig" #sliderRef>
            <ion-slide>
              <div class="slide-img">
                <h4>View All</h4>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img">
                <h4>Dankie Jesu</h4>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img">
                <h4>Kwanga Apparel</h4>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
        <ion-button expand="full" class="midBtns" color="transparent">
          <span>Summer Gear <ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <ion-button expand="full" class="midBtns" color="transparent">
          <span>Winter Gear<ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <ion-button expand="full" class="outerBtns" color="transparent">
          <span>Kwanga Apparel<ion-icon slot="end" name="arrow-forward"></ion-icon></span>
        </ion-button>
        <div class="slide-section2">
          <ion-slides pager="false" [options]="sliderConfigSmall" #sliderRefSmall>
            <ion-slide>
              <div class="slide-img">
                <p>SoHo Jeans</p>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img">
                <p>SoHo Jeans</p>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img">
                <p>SoHo Jeans</p>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img">
                <p>SoHo Jeans</p>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
            <ion-slide>
              <div class="slide-img">
                <p>SoHo Jeans</p>
                <img class="slide-img" src="../../assets/imgs/331249_1_800.jpeg" alt="">
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>
    </div>
  </div>
</ion-content>