.content-container {
  width: 100%;
  height: 100%;
  background: grey;
}
.nav-bar {
  width: 100%;
  height: 60px;
  background: whitesmoke;
  z-index: 100;
  border-bottom: 1px solid black;
}
.nav-content {
  height: 100%;
  width: 65%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}
.body-content {
  width: 100%;
  height: calc(100% - 60px);
  background: white;
  display: flex;
}
#title,
#admin {
  width: 20%;
  height: 100%;
}
#admin {
  display: flex;
}
#admin {
  text-align: right;
  p {
    margin-left: 70px;
    line-height: 30px;
  }
  img {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
    transform: translateY(10px);
  }
}
#searchbar {
  width: 60%;
  height: 100%;
  //   background: red;
  margin: 0 auto;
}
#mid {
  z-index: 100;
  width: 65%;
  background: #f2f2f2;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .box-card {
    width: 95%;
    margin: 0 auto;
    height: 90%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
    display: flex;
    overflow: hidden;
  }
  .box-card > div {
    height: 100%;
  }
  .box-card > div:nth-child(1) {
    width: 35%;
    border-right: 1px solid rgba(0, 0, 0, 0.096);
    background: whitesmoke;
    padding: 10px;
    h5 {
      color: rgb(87, 87, 87);
    }
    .nums {
      font-size: 12px;
      color: rgb(87, 87, 87);
      margin-top: -10px;
    }
    .refNum {
      font-size: 12px;
      color: rgb(87, 87, 87);
      b {
        color: black;
        font-size: 13px;
      }
    }
    #note {
      font-size: 11px;
      transform: translateY(-10px);
      color: grey;
    }
  }
  .box-card > div:nth-child(2) {
    width: 65%;
    overflow-y: scroll;
    padding-bottom: 50px;

    .titleName {
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .toFlex {
    display: flex;
    font-size: 13px;
    padding: 0;
    margin-bottom: -25px;
  }
  #SubHeader {
    padding-right: 10px;
  }
  #dayDate {
    color: grey;
  }
}
.items {
  width: 100%;
  display: flex;
  .subtitle {
    color: grey;
    margin-top: -10px;
    font-size: 11px;
    padding: 0;
  }
  .subtitle:nth-child(1) {
    // border: 1px solid red;
    width: 70%;
  }
  .subtitle:nth-child(2) {
    // border: 1px solid red;
    width: 30%;
  }
}
#address {
  color: grey;
  font-size: 13px;
}
#Notifier {
  font-size: 18px;
  font-style: italic;
}
#left,
#right {
  width: 17.5%;
  height: 100%;
  background: #f2f2f2;
  position: relative;
}
@media screen and (max-width: 1024px){
#left,
#right {
    display: none;
}
#mid{
    width: 100%;
    transition: 700ms;;
}
.box-card {
    width: 100%;
}
}
ion-searchbar {
  display: none;
  width: 50%;
  margin: 0 auto;
  margin-top: 7px;
  border: 1px solid #7c0000;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

ion-card{
    display: flex;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .cont-container{
        width: calc(100% - 120px);
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media screen and (max-width: 850px){
  .content-container{
    display: none;
  }
}
@media screen and (min-width: 851px){
  .mobile-view{
    display: none;
  }
}
.mobile-view{
  width: 100%;
  height: 100%;
  background: whitesmoke;
  overflow-y: hidden;
  .top{
    width: 100%;
    height: 50px;
    background: white;
    line-height: 50px;
    font-weight: bold;
    color: rgb(32, 32, 32)
  }
  #bckBtn{
    margin: 0;
    height: 100%;
    float: left
  }
  .grid{
    height: calc(100% - 50px);
    overflow-y: scroll;
  }
  #receipt{
    border-top: 2px solid grey;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0;
  }
  ion-card{
    height: 100px;
    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .cont-container{
        width: calc(100% - 120px);
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        h4{
          font-size: 16px;
        }
        p{
          font-size: 12px;
        }
    }
  }
}