<ion-content>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <img src="../../assets/imgs/Logo/Logo.png" id="appLogo" alt="" (click)='goBack()' id="dankie-home-button">
        </div>
        <div id="searchbar">
          <ion-searchbar></ion-searchbar>
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>SIGN OUT</p>
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
      </div>
      <div id="mid">
        <div class="box-card">
          <div>
            <h4>Order Receipt</h4>
            <h5>{{name}}</h5>
            <p class="nums">{{cell}}</p>
            <p class="refNum"><b>REF</b> {{refNo}}</p>
            <div id="note">
              <i>Use this reference number to compare against the reference number provided by your bank provider.</i>
            </div>
            <div class="toFlex">
              <p id="SubHeader">Date of Purchase</p>
              <p id="dayDate">{{datePurchased}}</p>
            </div>
            <p id="subHeader">
              Products
            </p>
            <div class="items">
              <div class="subtitle">
                <p class="item" *ngFor='let item of products'>{{item.product_name}}</p>

                <p class="item"><b>Total Quantity</b></p>
                <p class="item"><b>Total</b></p>
                <p class="item"><b>Delivery Fee</b></p>
                <p class="item"><b>Grand Total</b></p>
                <p><b>Order Type</b></p>
                <p><b>Date of receipt</b></p>
              </div>
              <div class="subtitle">
                <p *ngFor='let item of products'>{{item.quantity}}</p>

                <p><b>{{totalQuantity}}</b></p>
                <p><b>R {{totalPrice}}</b></p>
                <p><b>R {{deliveryFee}}</b></p>
                <p><b>R {{grandTotal}}</b></p>
                <p>{{deliveryType}}</p>
                <p>{{dateClosed}}</p>
              </div>
            </div>
            <p *ngIf='deliveryAddress' id="subHeader">
              Order Address
            </p>
            <p *ngIf='deliveryAddress' id="address">{{deliveryAddress}}</p>
            <!-- <p id="Notifier">Order has been closed.</p> -->
            <p *ngIf="!deliveryAddress" id="Notifier"><b> Order has been collected</b></p>
            <p *ngIf="deliveryAddress" id="Notifier"><b> Order has been delivered</b></p>
            
            <!-- <ion-button color="dark" (click)='goBack()'>Go Back</ion-button> -->
          </div>
          <div>
            <p class="titleName">
              Products Ordered
            </p>
            <ion-card *ngFor='let item of products'>
              <img [src]="item.picture" *ngIf='item.picture' alt="">
              <div class="cont-container">
                <h4>{{item.product_name}}</h4>
                <p>R {{item.cost}}</p>
                <p><b>QTY</b> {{item.quantity}}</p>
              </div>
            </ion-card>
          </div>
        </div>
      </div>
      <div id="right">
      </div>
    </div>
  </div>

  <div class="mobile-view">
    <div class="top">
      <ion-button icon-only id="bckBtn" fill="clear" color="light" (click)='goBack()'>
        <ion-icon name="home"></ion-icon>
      </ion-button>
      Order Details
    </div>
    <div class="grid">
      <div id="items">
        <p class="titleName">
          Products Ordered
        </p>
        <ion-card *ngFor='let item of products'>
          <img [src]="item.picture" *ngIf='item.picture' alt="">
          <img src="../../assets/imgs/images.jpg" *ngIf='!item.picture' alt="">
          <div class="cont-container">
            <h4>{{item.product_name}}</h4>
            <p>R {{item.cost}}</p>
            <p><b>QTY</b> {{item.quantity}}</p>
          </div>
        </ion-card>
      </div>
      <div id="receipt">

        <h4>Order Receipt</h4>
        <h5>Client Name: <b>{{name}}</b></h5>
        <p class="nums">Phone <b>{{cell}}</b></p>
        <p class="refNum">REF <b>{{refNo}}</b></p>
        <div id="note">
          <i id="note">Use this reference number to compare against the reference number provided by your bank provider.</i>
        </div>
        <div class="toFlex">
          <p id="SubHeader">Date of Purchase</p>
          <p id="dayDate">20/11/2019</p>
        </div>
        <p id="subHeader">
          Products
        </p>
        <div class="items">
          <div class="subtitle">
            <p class="item" *ngFor='let item of products'>{{item.product_name}}</p>

            <p class="item"><b>Total Quantity</b></p>
            <p class="item"><b>Total</b></p>
            <p class="item"><b>Delivery Fee</b></p>
            <p class="item"><b>Grand Total</b></p>
            <p><b>Order Type</b></p>
            <p><b>Date of receipt</b></p>
          </div>
          <div class="subtitle">
            <p *ngFor='let item of products'>{{item.quantity}}</p>

            <p><b>{{totalQuantity}}</b></p>
            <p><b>R {{totalPrice}}</b></p>
            <p><b>R {{deliveryFee}}</b></p>
            <p><b>R {{grandTotal}}</b></p>
            <p>{{deliveryType}}</p>
            <p>{{dateClosed}}</p>
          </div>
        </div>
        <p id="subHeader" *ngIf="deliveryAddress">
          Order Address
        </p>
        <p id="address">{{deliveryAddress}}</p>
        <p id="Notifier">Order has been closed.</p>
      </div>
    </div>
  </div>
</ion-content>