.content-container {
    width: 100%;
    height: 100%;
    background: grey;
  }
  .nav-bar {
    width: 100%;
    height: 60px;
    background: whitesmoke;
    z-index: 100;
    border-bottom: 1px solid black;
  }
  .nav-content {
    height: 100%;
    width: 65%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }
  .body-content {
    width: 100%;
    height: calc(100% - 60px);
    background: green;
    display: flex;
  }
  #title,
  #admin {
    width: 20%;
    height: 100%;
  }
  #admin {
    display: flex;
  }
  #admin {
    text-align: right;
    p {
      margin-left: 70px;
      line-height: 30px;
    }
    img {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      object-fit: cover;
      transform: translateY(10px);
    }
  }
  #searchbar {
    width: 60%;
    height: 100%;
    //   background: red;
    margin: 0 auto;
  }
  #mid {
    z-index: 100;
    width: 65%;
    background: white;
    overflow-y: scroll;
    ::-webkit-scrollbar {
      background: red;
    }
  }
  #left,
  #right {
    width: 17.5%;
    height: 100%;
    background: #f2f2f2;
    position: relative;
  }
  ion-searchbar {
    width: 50%;
    margin: 0 auto;
    margin-top: 7px;
    border: 1px solid #7c0000;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
  }
  .side-buttons {
    cursor: pointer;
    width: calc(100% + 20px);
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.438);
    margin-top: 2px;
    text-align: center;
    line-height: 50px;
  }
  .top-bar {
    width: 100%;
    height: 37px;
    border: 1px solid black;
    display: flex;
    ion-button {
      padding: 0;
      margin: 0;
    }
    .page-title {
      height: 100%;
      // background: red;
      padding-left: 10px;
      line-height: 37px;
    }
  }
  .history-items {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    // border: 2px solid red;
    background: #f2f2f2;
    top: 0;
    left: 0;
    animation: faderIn 300ms;
    .title-top {
      border-bottom: 1px solid black;
      height: 30px;
    }
    h5 {
      margin-top: 5px;
      margin-left: 5px;
    }
    #closer {
      cursor: pointer;
      font-size: 23px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .items-list {
      width: 100%;
      height: calc(100% - 50px);
      // background: red
      overflow-y: scroll;
    }
    ion-card {
      background: white;
      padding: 5px;
      position: relative;
      p {
        margin: 5px;
      }
      .floating {
        position: absolute;
        right: 0;
      }
      #bottom-right {
        bottom: 5px;
        font-style: italic;
      }
    }
  }
  .pending-items {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    // border: 2px solid red;
    background: #f2f2f2;
    top: 0;
    left: 0;
    animation: faderIn 300ms;
    .title-top {
      border-bottom: 1px solid black;
      height: 30px;
    }
    h5 {
      margin-top: 5px;
      margin-left: 5px;
    }
    #closer {
      cursor: pointer;
      font-size: 23px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .items-list {
      width: 100%;
      height: calc(100% - 50px);
      // background: red
      overflow-y: scroll;
    }
    ion-card {
      background: white;
      padding: 5px;
      position: relative;
      p {
        margin: 5px;
      }
      .floating {
        position: absolute;
        right: 0;
      }
      #bottom-right {
        bottom: 5px;
        font-style: italic;
      }
    }
  }
  .inventory-items {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    // border: 2px solid red;
    background: #f2f2f2;
    top: 0;
    left: 0;
    animation: faderIn 300ms;
    .title-top {
      border-bottom: 1px solid black;
      height: 30px;
    }
    h5 {
      margin-top: 5px;
      margin-left: 5px;
    }
    #closer {
      cursor: pointer;
      font-size: 23px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
    .quantities {
      width: 130px;
      height: 20px;
      // border: 1px solid black;
      display: flex;
      text-align: center;
      // position: absolute;
      right: 80px;
      bottom: 5px;
    }
    .quantities > div {
      line-height: 20px;
    }
    .quantities > div:nth-child(1) {
      width: 35px;
      height: 100%;
      background: white;
      color: black;
    }
    .quantities > div:nth-child(2) {
      width: 35px;
      height: 100%;
      background: white;
      // border: 2px solid red;
      color: grey;
      input {
        width: 100%;
        height: 100%;
        margin-top: -5px;
        text-align: center;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .quantities > div:nth-child(3) {
      width: 35px;
      height: 100%;
      background: white;
      color: black;
    }
    .quantities > div:nth-child(4) {
      width: 40px;
      height: 100%;
      background: green;
      color: white;
    }
    .items-list {
      width: 100%;
      height: calc(100% - 50px);
      // background: red
      overflow-y: scroll;
    }
    ion-card {
      background: white;
      padding: 5px;
      position: relative;
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        position: absolute;
        right: 5px;
      }
      p {
        margin: 5px;
      }
      .floating {
        position: absolute;
        right: 0;
      }
      #bottom-right {
        bottom: 5px;
        font-style: italic;
      }
    }
  }
  .adding {
    width: 95%;
    margin: 10px auto;
    border-radius: 8px;
    min-height: 200px;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    select,
    .user-input {
      width: 100%;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .user-input {
      padding-left: 5px;
    }
    textarea {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      resize: none;
    }
    .sizes {
      width: 100%;
    }
  }
  .SubCat {
    width: 98%;
    height: 200px;
    cursor: pointer;
    background: red;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.28);
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h3 {
      font-weight: bold;
      color: white;
      position: absolute;
      top: 50px;
      left: 30px;
      font-size: 3rem;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.856);
    }
  }
  
@keyframes faderIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}