<ion-content>
    <div class="content-container">
      <div class="nav-bar">
        <div class="nav-content">
          <div id="title">
            <h4>DankieJesu</h4>
          </div>
          <div id="searchbar">
            <!-- <ion-searchbar (ionChange)='search(searchInput)' [(ngModel)]='searchInput'></ion-searchbar> -->
          </div>
          <div id="admin" (click)='signOutPopup()'>
            <p>Sign out</p>
            <img src="../../assets/imgs/person-icon-svg.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="body-content">
        <div id="left" padding>
        </div>
        <div id="mid">
          <div class="top-bar">
            <ion-button color="dark" fill="outline" (click)='back()'>
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
            <div class="page-title">
              Summer Gear
            </div>
          </div>
          <div class="SubCat" (click)='navigateForward("T-Shirts")'>
            <h3>T-Shirts</h3>
            <img src="../../assets/imgs/486x486.jpeg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Bags")'>
            <h3>Vests</h3>
            <img src="../../assets/imgs/Vests.jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Sweaters")'>
            <h3>Sweaters</h3>
            <img src="../../assets/imgs/Sportswear-International-by-Alex-Wagner-MaleModelSceneNet-04a.jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Caps")'>
            <h3>Caps</h3>
            <img src="../../assets/imgs/cap.jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Bucket Hats")'>
            <h3>Bucket Hats</h3>
            <img src="../../assets/imgs/images (9).jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Shorts")'>
            <h3>Shorts</h3>
            <img src="../../assets/imgs/images (5).jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Crop Tops")'>
            <h3>Crop Tops</h3>
            <img src="../../assets/imgs/images (4).jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Bags")'>
            <h3>Bags</h3>
            <img src="../../assets/imgs/images (7).jpg" alt="">
          </div>
  
        </div>
        <div id="right">
        </div>
      </div>
    </div>

    
  <div class="mobile-view">
      <div class="cont-small">
          <div class="top-bar">
            <ion-button color="dark" fill="outline" (click)='back()'>
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
            <div class="page-title">
              Summer Gear
            </div>
          </div>
          <div class="SubCat" (click)='navigateForward("T-Shirts")'>
            <h3>T-Shirts</h3>
            <img src="../../assets/imgs/486x486.jpeg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Sweaters")'>
            <h3>Sweaters</h3>
            <img src="../../assets/imgs/Sportswear-International-by-Alex-Wagner-MaleModelSceneNet-04a.jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Caps")'>
            <h3>Caps</h3>
            <img src="../../assets/imgs/3-Pic.jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Bucket Hats")'>
            <h3>Bucket Hats</h3>
            <img src="../../assets/imgs/images (9).jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Sports")'>
            <h3>Shorts</h3>
            <img src="../../assets/imgs/images (5).jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Crop Tops")'>
            <h3>Crop Tops</h3>
            <img src="../../assets/imgs/images (4).jpg" alt="">
          </div>
          <div class="SubCat" (click)='navigateForward("Bags")'>
            <h3>Bags</h3>
            <img src="../../assets/imgs/images (7).jpg" alt="">
          </div>
  
        
      </div>
    </div>
  </ion-content>
  