<ion-content>
  <div class="container">
    <div class="inner-container">
      <div id="left">
        <div class="logo-container-left">
          <img src="../../assets/imgs/Logo.png" id="logo-left" alt="">
          <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quo porro laborum illo suscipit aperiam culpa molestiae aliquam laboriosam eveniet!
        </div>
      </div>
      <div id="right">
        <div class="cont">
          <div class="logo-container-right">
            <img src="../../assets/imgs/Logo.png" id="logo" alt="">
            <br>
          </div>
          <form [formGroup]='loginForm'>
              <h3>Sign In</h3>
              <p id="prompt">Please insert your email and password to login.</p>
              <ion-item lines="null">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName='email'></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName='password'></ion-input>
              </ion-item>
              <p id="password-forgotten" (click)='resetPassword()'>I forgot my password</p>
              <ion-button [disabled]='!loginForm.valid' color="dark" (click)='login()'>Login</ion-button>
          </form>

        </div>
      </div>
    </div>
  </div>
</ion-content>