<ion-header>
  <ion-toolbar>
    <ion-title>add-items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <select (change)="changeDepartment($event);">
    <option value='i' *ngFor='let i of departmentOptions' [value]='i'>{{i}}</option>

  </select><br>

  <select (change)="changeCategory($event);" >
      <option *ngFor='let x of categoryOptions' [value]='x'>{{x}}</option>
  </select>

  <input type='text' placeholder='Item name' [(ngModel)]='itemName'>
  <input type='text' placeholder = 'Price' [(ngModel)]='price'>
  <input type='text' placeholder= ' About the item' [(ngModel)]='description'>
  
<input type='checkbox' name='checkboxXS'  id='check' (change)='check($event, "XS")'> XS
<input type='checkbox' name='checkboxS'  (change)='check($event, "S")'> S 
<input type='checkbox' name='checkboxM'  (change)='check($event, "M")'> M
<input type='checkbox' name='checkboxL'  (change)='check($event, "L")'> L
<input type='checkbox' name='checkboxXL'  (change)='check($event, "XL")'> XL
<input type='checkbox' name='checkboxXXL'  (change)='check($event, "XXL")'> XXL
<input type='checkbox' name='checkboxXXXL'  (change)='check($event, "XXXL")'> XXXL

  <button (click) = 'addProduct()'>Add to Stall</button>
  <button (click)='clearForm()'>Clear Form</button>
</ion-content>
