<ion-content>
  <div class="content-container">
    <div class="nav-bar">
      <div class="nav-content">
        <div id="title">
          <h4>DankieJesu</h4>
        </div>
        <div id="searchbar">
          <!-- <ion-searchbar (ionChange)='search(searchInput)' [(ngModel)]='searchInput'></ion-searchbar> -->
        </div>
        <div id="admin" (click)='signOutPopup()'>
          <p>SIGN OUT</p>
        </div>
      </div>
    </div>
    <div class="body-content">
      <div id="left" padding>
      </div>
      <div id="mid">
        <div class="top-bar">
          <ion-button color="dark" fill="clear" (click)='back()'>
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
          <div class="page-title">
            Winter Gear
          </div>
        </div>
        <div class="SubCat" (click)='navigateForward("Hoodies")'>
          <h3>Hoodies</h3>
          <img src="../../assets/imgs/images (2).jpg" alt="">
        </div>
        <div class="SubCat" (click)='navigateForward("Sweaters")'>
          <h3>Sweaters</h3>
          <img src="../../assets/imgs/Sportswear-International-by-Alex-Wagner-MaleModelSceneNet-04a.jpg" alt="">
        </div>
        <div class="SubCat" (click)='navigateForward("Track Suits")'>
          <h3>Track Suits</h3>
          <img src="../../assets/imgs/3-Pic.jpg" alt="">
        </div>
        <div class="SubCat" (click)='navigateForward("Winter Hats")'>
          <h3>Winter Hats</h3>
          <img src="../../assets/imgs/images (9).jpg" alt="">
        </div>
        <div class="SubCat" (click)='navigateForward("Bags")'>
          <h3>Bags</h3>
          <img src="../../assets/imgs/images (4).jpg" alt="">
        </div>

      </div>
      <div id="right">
      </div>
    </div>
  </div>


  <div class="mobile-view">
    <div class="cont-small">
      <div class="top-bar">
        <ion-button color="dark" fill="clear" (click)='back()'>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <div class="page-title">
          Winter Gear
        </div>
      </div>
      <div class="SubCat" (click)='navigateForward("Hoodies")'>
        <h3>Hoodies</h3>
        <img src="../../assets/imgs/images (2).jpg" alt="">
      </div>
      <div class="SubCat" (click)='navigateForward("Sweaters")'>
        <h3>Sweaters</h3>
        <img src="../../assets/imgs/Sportswear-International-by-Alex-Wagner-MaleModelSceneNet-04a.jpg" alt="">
      </div>
      <div class="SubCat" (click)='navigateForward("Track Suits")'>
        <h3>Track Suits</h3>
        <img src="../../assets/imgs/3-Pic.jpg" alt="">
      </div>
      <div class="SubCat" (click)='navigateForward("Winter Hats")'>
        <h3>Winter Hats</h3>
        <img src="../../assets/imgs/images (9).jpg" alt="">
      </div>
      <div class="SubCat" (click)='navigateForward("Bags")'>
        <h3>Bags</h3>
        <img src="../../assets/imgs/images (4).jpg" alt="">
      </div>


    </div>
  </div>
</ion-content>