.content-container {
  width: 100%;
  height: 100%;
  background: white;
}
.navigation {
  width: 100%;
  height: 80px;
  background: rgb(205, 205, 205);
  display: flex;
  flex-wrap: wrap;
  animation: faderIn 300ms
}
.navigation-inner {
  width: 80%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  // border: 2px solid red;
  margin: 0 auto;
  transition: 300ms;
}
.navigation-inner > div {
  height: 100%;
  //   border: 2px solid red;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    cursor: pointer;
    margin: 0;
  }
}

.navigation-inner > div:nth-child(1) {
  width: 26%;
  font-weight: bold;
  line-height: 80px;
  cursor: pointer;
}
.navigation-inner > div:nth-child(2) {
  width: 14.16666666666666%;
}
.navigation-inner > div:nth-child(3) {
  width: 14.16666666666666%;
}
.navigation-inner > div:nth-child(4) {
  width: 14.16666666666666%;
}
.navigation-inner > div:nth-child(5) {
  width: 14.16666666666666%;
}
.navigation-inner > div:nth-child(6) {
  width: 14.16666666666666%;
}
@keyframes faderIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.inner-content {
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: scroll;
  div {
    animation: faderIn 300ms;
  }
}
.top-bar {
  // border: 2px solid red;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgb(235, 235, 235);
  position: relative;
}
#query {
  width: 50%;
  margin: 30px auto;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #7c0000;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  transition: 300ms;
}
.searchResults {
  width: 50%;
  background: white;
  position: absolute;
  top: 141px;
  left: 50%;
  transform: translateX(-50%);
  //   border: 1px solid red;
  transition: 300ms;
  border-radius: 10px;
  padding: 10px;
  div {
    overflow-y: scroll;
    height: 400px;
  }
}
#answers {
  width: 60%;
  margin: 10px auto;
  transition: 300ms;
}
#QA {
  h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
    color: rgb(165, 165, 165);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c0000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.navigator-small {
  display: none;
  width: 100%;
  height: 50px;
  background: rgb(205, 205, 205);
  animation: faderIn 300ms;
}

.navigator-small > div:nth-child(1) {
  width: 50px;
}

.navigator-small > div:nth-child(2) {
  width: calc(100% - 50px);
  text-align: center;
  h1 {
    margin-top: 10px;
    margin-left: -50px;
  }
}
#side-menu {
  width: 100%;
  height: calc(100% - 50px);
  background: white;
  position: absolute;
  z-index: 100;
  left: -100%;
  padding: 10px;
  transition: 300ms;
}
#side-menu > div {
  border-bottom: 1px solid grey;
  height: 50px;
}
#side-menu > div:nth-child(1) {
  line-height: 50px;
}
#active-tab {
  color: grey;
  padding: 5px;
  margin: 0;
}

#titler {
  font-size: 3vh;
}

.about-information {
  transition: 300ms;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
}

#team-role {
  padding-left: 10px;
  margin-top: 25px;
  color: grey;
}

.answer-questions{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.274);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 299ms;
}
#disappear{
  opacity: 1;
}
.inputs{
  width: 100%;
  // border: 2px solid red;
  margin: 0 auto;
  text-align: center;
}
#instruction{
  width: 50%;
  margin: 0 auto
}

@keyframes faderOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#q-a{
  width: 50%;
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#q-a-textarea{
  resize: none;
  width: 50%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 300ms;
}
.inner-to-answer{
  width: 60%;
  height: 80%;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  overflow-y: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.383);
  transition: 300ms;
  animation: faderIn 300ms;
}
#me{
  overflow-y:scroll;
  height: calc(100% - 50px);
}
#me > div{
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  
}
.header{
  width: 100%;
  height: 50px;
  background: whitesmoke;
  position: relative;
  h3{
    margin: 0;
    line-height: 50px;
    text-align: center;
  }
}
.app-body{
  width: 100%;
  height: calc(100% - 60px);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-body-answers{
  width: 100%;
  height: calc(100% - 60px);
  background: white;
}

#is-user{
  // border: 2px solid red;
  text-align: center;
}
// #not-user{
// }

.document-upload{
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  transition: 300ms;
}
@media screen and (min-width: 531px) {
  #side-menu {
    display: none;
  }
  #how-can-we-help {
    display: block;
    animation: faderIn 300ms
  }
  i{
    display: block
  }
}
@media screen and (max-width: 1050px) {
  .about-information {
    width: 100%;
  }
  .document-upload{
    width: 100%;
  }
  #q-a-textarea{
    width: 90%
  }
  .inner-content > #FAQs > #answers {
    // border: 2px solid red;
    width: 100%;
    padding: 10px;
  }
  .navigation-inner {
    width: 100%;
  }
  .searchResults {
    width: 100%;
  }
  @media screen and (max-width: 530px) {
  .searchResults {
    top: 60px;
  }
  i{
    display: none
  }
    #how-can-we-help {
      display: none;
    }
    #query {
      margin: 10px auto;
    }
    .navigation {
      display: none;
    }
    .navigator-small {
      display: flex;
    }
    #query {
      width: 90%;
    }
    .inner-content {
      height: calc(100% - 50px);
      // background: red;
    }
    #side-menu {
      display: block;
    }
  }
}

@media screen and (max-width: 640px){
  .inner-to-answer{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

#closer{
  position: absolute;
  left: 5px;
}

#one, #two, #three, #four, #five{
  font-weight: 500;
}
#one{
  font-weight: bold;
}