<!-- Use this page to contain information as follows:

FAQs
Terms and Privacy Policy
Returns Policy
Payment Process
Currency used by company
App information
Disclaimer -->
<ion-content>

    <div class="answer-questions" id="disappear" *ngIf="showQA === true">
        <div class="inner-to-answer">
            <div class="header">
                <ion-button id="closer" (click)="close_query()" fill="clear">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
                <h3>Q&A</h3>
            </div>
            <div class="app-body" id="not-user" *ngIf="!admin">
                <div class="inputs">
                    <h3>Contact Us</h3>
                    <p id="instruction">Fill in the form and take this moment to ask any questions concerning the app or
                        the company and its people and employees</p>
                    <form [formGroup]='questionsForm'>
                        <input type="text" id="q-a" placeholder="Name" formControlName='name'><br>
                        <input type="text" id="q-a" placeholder="Email" formControlName='email' (keyup)='check()'><br>
                        <textarea name="" id="q-a-textarea" cols="30" rows="10" placeholder="Your question here..."
                            formControlName='question'></textarea><br>

                    </form>
                    <ion-button [disabled]='!questionsForm.valid' (click)='submitQuestion()'>Sumbit</ion-button>
                </div>
            </div>
            <div class="app-body-answers" id="is-user" *ngIf="admin">
                <h3>Answer questions</h3>
                <div class="inputs" id="me">


                    <div *ngFor='let item of questionsArray'>
                        <p>{{item.data.question}}</p>
                        <textarea name="" id="q-a-textarea" cols="30" rows="3" placeholder="Your answer here..."
                            (keyup)='updateAnswer(item, $event)'></textarea><br>
                        <ion-button (click)='submitAnswer(item)' [disabled]='!item.data.answer'>Send Answer</ion-button>
                    </div>
                    <div class="no-questions" *ngIf="!questionsArray">
                        <h1>You have no questions to answer</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" *ngIf="admin">
        <ion-button (click)="asnwerQuestions()">
            <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon> <i>Answer Questions</i>
        </ion-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" *ngIf="!admin">
        <ion-button (click)="askUs()">
            <ion-icon name="help"></ion-icon><i>Ask Us</i>
        </ion-button>
    </ion-fab>
    <div class="content-container">
        <div class="navigation" (click)="goAway()">
            <div class="navigation-inner">


                <div>
                    <p id="yesAdmin" (click)="goHome()" *ngIf="admin">Dankie Jesu</p>
                    <p id="noAdmin" *ngIf="!admin">Dankie Jesu</p>
                </div>
                <div>
                    <p id="one" (click)="changeTab('FAQs')">FAQs</p>
                </div>
                <div>
                    <p id="two" (click)="changeTab('Terms and Privacy Policy' )">Terms and Privacy Policy</p>
                </div>
                <div>
                    <p id="three" (click)="changeTab('Payment Process')">Payment Process</p>
                </div>
                <div>
                    <p id="four" (click)="changeTab('About Company')">About</p>
                </div>
                <div>
                    <p id="five" (click)="changeTab('Disclaimer')">Disclaimer</p>
                </div>
            </div>
        </div>
        <div class="navigator-small" (click)="goAway()">
            <div>
                <ion-button *ngIf="!usersInput" icon-only fill="clear" (click)="toggleSideMenu()">
                    <ion-icon name="{{myMenu}}"></ion-icon>
                </ion-button>
            </div>
            <div>
                <h1 *ngIf="!usersInput">Dankie Jesu</h1>
            </div>

        </div>
        <div id="side-menu">
            <div>
                <p (click)="goHome()">
                    Dankie Jesu
                </p>
            </div>
            <div>
                <p (click)="changeTab('FAQs')">FAQs</p>
            </div>
            <div>
                <p (click)="changeTab('Terms and Privacy Policy')">Terms and Privacy Policy</p>
            </div>
            <div>
                <p (click)="changeTab('Payment Process')">Payment Process</p>
            </div>
            <div>
                <p (click)="changeTab('About Company')">About Company</p>
            </div>
            <div>
                <p (click)="changeTab('Disclaimer')">Disclaimer</p>
            </div>
        </div>
        <div class="inner-content">
            <div class="goAwayer" (click)="goAway()">

            </div>
            <div id="FAQs" *ngIf="activeTab === 'FAQs'">
                <div class="top-bar" (ionFocus)='onInput($event)'>
                    <h1 id="how-can-we-help">How can we help?</h1>
                    <input id="query" type="text" placeholder="Type keywords to find answers"
                        (ionFocus)='onInput($event)' [(ngModel)]="usersInput" (keyup)="searchresult(usersInput)">
                    <div class="searchResults" id="userSearchResults" *ngIf="usersInput">
                        <div id="QAAnswer">
                            <div id="QAAnswers-answered" *ngFor="let items of searchArray">
                                <div>

                                    <ion-item>{{items.data.question}}</ion-item>
                                    <i id="answer-description">{{items.data.answer}} </i>
                                </div>
                            </div>
                            <!-- <ion-item>{{items.data.answer}}</ion-item> -->
                        </div>
                    </div>
                </div>
                <div id="answers" (click)="goAway()">
                    <div>
                        <h1>Frequently Asked Questions</h1>
                    </div>
                    <div id="QA">
                        <h3>How do I return a defective or faulty product?</h3>
                        <p>We stand behind all of our Clothes and gear. If your product is defective or faulty and it's
                            been more than 30 days since your purchase, start a return and send your item back.</p>
                    </div>
                    <div id="QA">
                        <h3>How do I return a Dankie Jesu store purchase?</h3>
                        <p> Purchases made at Dankie Jesu retail stores must be returned to the store. Please note that
                            our store returns policies may differ from our online returns policies. Make sure that you
                            ask the store if you have questions about their policies.</p>
                    </div>
                    <div id="QA">
                        <h3>How do I make an online purchase?</h3>
                        <ion-list>
                            <ion-item>1. Select an item that you desire.</ion-item>
                            <ion-item>2. Choose your desired colour, size and quantity</ion-item>
                            <ion-item>3. Click "Add to Cart"</ion-item>
                            <ion-note><b>Note</b> If you wish to add more items to your cart, do so by individually
                                going to each item and adding it to your cart.</ion-note>
                            <ion-item>4. When you are satisfied with the items you desire, go to your cart, this is the
                                button with a basket.</ion-item>
                            <ion-item>5. in your cart will be all the products that you wish to purchase, at the bottom,
                                click "PLACE ORDER".</ion-item>
                            <ion-item>6. You are now in the payments page, choose your purchase method, between DELIVERY
                                and COLLECTION.</ion-item>
                            <ion-item>7. You will see payment information that shows the items you wish to purchase and
                                each item's price, you will also be noted of the delivery fee, if you chose the Delivery
                                method, you will incur a delivery fee of R 100 (one hunderd rand only). A total amount
                                due will be calculated and presented.</ion-item>
                            <ion-note><b>Furthermore</b> you will see your reference number which you will have to use
                                when you transfer the money with the banking details that are also provided on the
                                screen</ion-note>
                            <ion-item>Transfer the money into the bank account provided on the app.</ion-item>
                        </ion-list>
                    </div>
                    <div id="QA">
                        <h3>How do I track my order?</h3>
                        <ion-item>1. Go to your profile</ion-item>
                        <ion-item>2. Click "Pending Orders" to see a list of your order purchases</ion-item>
                        <ion-item>3. If you have multiple orders, scroll until you see the one you want to track and the
                            click on "Track my order"</ion-item>
                        <ion-item>4. On this page, you will see a list of items you have in this order, total amount
                            due, the company's banking details, the scheduled delivery date and the order status.
                        </ion-item>
                        <ion-item>5. Each order status has a small description used to assist you in finding out the
                            progression of the order</ion-item>
                    </div>
                    <div id="QA">
                        <h3>How do I cancel an order?</h3>
                        <p>You are entitled to cancel your order prior to the point at which you confirm your order
                            purchase, if you go pass that point and you want to cancel the order, you should not pay the
                            amount required to process your order, a consultant will contact you after a few days of not
                            making the payment to confirm the order cancellation process. Should you wish to return the
                            product thereafter, you can do so in accordance with our Returns Policy.</p>
                    </div>
                    <div id="QA">
                        <h3>How do I register with the DankieJesu App?</h3>
                        <p>Lorem ipsum dolor sit amet voluptatum esse, obcaecati nisi veniam excepturi, eligendi
                            voluptatibus rerum impedit quae repudiandae repellat assumenda quia ratione asperiores ipsa
                            officia doloribus? Illo ipsa animi molestias obcaecati deserunt consequuntur, ut rem ipsam
                            ab optio quaerat reprehenderit, corrupti nobis est debitis totam facilis inventore at
                            itaque? Nostrum alias iusto eligendi eaque tenetur nihil quia numquam nesciunt ab odit,
                            excepturi laborum consectetur iste culpa, dolores error sapiente neque corporis earum!
                            Recusandae!</p>
                    </div>
                    <div id="QA">
                        <h3>How do I add items to my wishlist?</h3>
                        <p>consectetur adipisicing elit. Earum alias adipisci quis deleniti voluptatum esse, obcaecati
                            nisi veniam excepturi, eligendi voluptatibus rerum impedit quae repudiandae repellat
                            assumenda quia ratione asperiores ipsa officia doloribus? Illo ipsa animi molestias
                            obcaecati deserunt consequuntur, ut rem ipsam ab optio quaerat reprehenderit, corrupti nobis
                            est debitis totam facilis inventore at itaque? Nostrum alias iusto eligendi eaque tenetur
                            nihil quia numquam nesciunt ab odit, excepturi laborum consectetur iste culpa, dolores error
                            sapiente neque corporis earum! Recusandae!</p>
                    </div>
                    <div id="QA">
                        <h3>How do I qualify for Cash on Delivery?</h3>
                        <p>
                            We currFently do not offer Cash on Delivery features on the app. If you wish to get a COD
                            purchase, please contact our retail stores directly for assistance on the following details.
                            <br>
                            <a href="+27614464674">+27614464674</a><br>
                            <a href="mailto:lunga.duma1@gmail.com">lunga.duma1@gmail.com</a><br>
                            <a href="mailto:dankiejesu@brokenstool.co.za">dankiejesu@brokenstool.co.za</a>

                        </p>
                    </div>
                </div>
            </div>
            <div id="tsandcs" *ngIf="activeTab === 'Terms and Privacy Policy'">
                <div class="top-bar">
                    <h3>Terms and Privacy Policy</h3>
                </div>
                <div class="document-upload">
                    <h2>Welcome to Broken Stool</h2>
                    <p>These terms and conditions outline the rules and regulations for the use of Broken Stool's
                        Website.</p> <br />
                    <span style="text-transform: capitalize;"> Broken Stool</span> is located at:<br />
                    <address>5630 Moilwa Drive, Kagiso, Mogale City <br />1754 - Gauteng , South Africa<br />
                    </address>
                    <p>By accessing this website we assume you accept these terms and conditions in full. Do not
                        continue to use Broken Stool's website
                        if you do not accept all of the terms and conditions stated on this page.</p>
                    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
                        Notice
                        and any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this
                        website
                        and accepting the Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and
                        "Us", refers
                        to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either
                        the Client
                        or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to
                        undertake
                        the process of our assistance to the Client in the most appropriate manner, whether by formal
                        meetings
                        of a fixed duration, or any other means, for the express purpose of meeting the Client's needs
                        in respect
                        of provision of the Company's stated services/products, in accordance with and subject to,
                        prevailing law
                        of South Africa. Any use of the above terminology or other words in the singular, plural,
                        capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to
                        same.</p>
                    <h2>Cookies</h2>
                    <p>We employ the use of cookies. By using Broken Stool's website you consent to the use of cookies
                        in accordance with Broken Stool's privacy policy.</p>
                    <p>Most of the modern day interactive web sites
                        use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas
                        of our site
                        to enable the functionality of this area and ease of use for those people visiting. Some of our
                        affiliate / advertising partners may also use cookies.</p>
                    <h2>License</h2>
                    <p>Unless otherwise stated, Broken Stool and/or it's licensors own the intellectual property rights
                        for
                        all material on Broken Stool. All intellectual property rights are reserved. You may view and/or
                        print
                        pages from https://brokenstool.co.za for your own personal use subject to restrictions set in
                        these terms and conditions.</p>
                    <p>You must not:</p>
                    <ol>
                        <li>Republish material from https://brokenstool.co.za</li>
                        <li>Sell, rent or sub-license material from https://brokenstool.co.za</li>
                        <li>Reproduce, duplicate or copy material from https://brokenstool.co.za</li>
                    </ol>
                    <p>Redistribute content from Broken Stool (unless content is specifically made for redistribution).
                    </p>
                    <h2>Hyperlinking to our Content</h2>
                    <ol>
                        <li>The following organizations may link to our Web site without prior written approval:
                            <ol>
                                <li>Government agencies;</li>
                                <li>Search engines;</li>
                                <li>News organizations;</li>
                                <li>Online directory distributors when they list us in the directory may link to our Web
                                    site in the same
                                    manner as they hyperlink to the Web sites of other listed businesses; and</li>
                                <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity
                                    shopping malls,
                                    and charity fundraising groups which may not hyperlink to our Web site.</li>
                            </ol>
                        </li>
                    </ol>
                    <ol start="2">
                        <li>These organizations may link to our home page, to publications or to other Web site
                            information so long
                            as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship,
                            endorsement or
                            approval of the linking party and its products or services; and (c) fits within the context
                            of the linking
                            party's site.
                        </li>
                        <li>We may consider and approve in our sole discretion other link requests from the following
                            types of organizations:
                            <ol>
                                <li>commonly-known consumer and/or business information sources such as Chambers of
                                    Commerce, American
                                    Automobile Association, AARP and Consumers Union;</li>
                                <li>dot.com community sites;</li>
                                <li>associations or other groups representing charities, including charity giving sites,
                                </li>
                                <li>online directory distributors;</li>
                                <li>internet portals;</li>
                                <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
                                <li>educational institutions and trade associations.</li>
                            </ol>
                        </li>
                    </ol>
                    <p>We will approve link requests from these organizations if we determine that: (a) the link would
                        not reflect
                        unfavorably on us or our accredited businesses (for example, trade associations or other
                        organizations
                        representing inherently suspect types of business, such as work-at-home opportunities, shall not
                        be allowed
                        to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to
                        us from
                        the visibility associated with the hyperlink outweighs the absence of Broken Stool; and (d)
                        where the
                        link is in the context of general resource information or is otherwise consistent with editorial
                        content
                        in a newsletter or similar product furthering the mission of the organization.</p>

                    <p>These organizations may link to our home page, to publications or to other Web site information
                        so long as
                        the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement
                        or approval
                        of the linking party and it products or services; and (c) fits within the context of the linking
                        party's
                        site.</p>

                    <p>If you are among the organizations listed in paragraph 2 above and are interested in linking to
                        our website,
                        you must notify us by sending an e-mail to <a href="mailto:dankiejesu@brokenstool.co.za"
                            title="send an email to dankiejesu@brokenstool.co.za">dankiejesu@brokenstool.co.za</a>.
                        Please include your name, your organization name, contact information (such as a phone number
                        and/or e-mail
                        address) as well as the URL of your site, a list of any URLs from which you intend to link to
                        our Web site,
                        and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a
                        response.</p>

                    <p>Approved organizations may hyperlink to our Web site as follows:</p>

                    <ol>
                        <li>By use of our corporate name; or</li>
                        <li>By use of the uniform resource locator (Web address) being linked to; or</li>
                        <li>By use of any other description of our Web site or material being linked to that makes sense
                            within the
                            context and format of content on the linking party's site.</li>
                    </ol>
                    <p>No use of Broken Stool's logo or other artwork will be allowed for linking absent a trademark
                        license
                        agreement.</p>
                    <h2>Iframes</h2>
                    <p>Without prior approval and express written permission, you may not create frames around our Web
                        pages or
                        use other techniques that alter in any way the visual presentation or appearance of our Web
                        site.</p>
                    <h2>Reservation of Rights</h2>
                    <p>We reserve the right at any time and in its sole discretion to request that you remove all links
                        or any particular
                        link to our Web site. You agree to immediately remove all links to our Web site upon such
                        request. We also
                        reserve the right to amend these terms and conditions and its linking policy at any time. By
                        continuing
                        to link to our Web site, you agree to be bound to and abide by these linking terms and
                        conditions.</p>
                    <br><br><br>
                </div>
            </div>
            <div id="payment" *ngIf="activeTab === 'Payment Process'">
                <div class="top-bar">
                    <br>
                    <h3>Payment Process</h3>
                    <br>
                </div>
                <div class="about-information">
                    <div id="QA">
                        <h3>Place your order</h3>
                        <p>
                            Do a bit of shopping in your app and add the desired items to your shopping cart and then
                            place the order when you are ready to make the purchase and your purchase will be place in
                            pending orders. You will be provided with a reference number to use when you send the
                            transaction to the
                            bank that is provided for you.
                        </p>
                    </div>
                    <div id="QA">
                        <h3>Deposit cash amount</h3>
                        <p>If you want to deposit the amount via a bank branch or ATM, use the provided banking details
                            and use the reference number we provided you with as your reference. For mobile and online
                            banking, the banking details are the same for you too. Below are the banking details that
                            you should always deposit to.
                        </p>
                        <p>
                            <b>Bank Name : </b> Capitec
                        </p>
                        <p>
                            <b>Account Number : </b> 1484255923
                        </p>
                        <p>
                            <b>Branch Code : </b> 470010
                        </p>
                    </div>
                    <div id="QA">
                        <h3>Track your order on the app</h3>
                        <p>
                            Go to your profile => PENDING ORDERS. <br>
                            If you have any pending orders, they will all appear here. Choose one of the orders to track
                            their progress by clicking "TRACK MY ORDER"
                        </p>
                        <p>
                            Here you will see a list of all the items you have placed in this order, after the list will
                            be the order details, at the very bottom, you will see your order status with the following
                            four steps.
                            <br>
                            <br>
                            1 - Order Received
                            <br>
                            This means that your order was received and will be processed as soon as a cash deposit has
                            checked out.
                            <br>
                            <br>
                            2 - Order is being processed
                            <br>
                            After you have made the cash deposit and it has been validated, the order status will move
                            to this stage. This means that DankieJesu and its affiliates are preparing your order, this
                            typically
                            <br>
                            <br>
                            3 - Ready for Collection/Delivery
                            <br>
                            During this phase, your order is either in transit to your residential address, or it is
                            ready for you to come to the store and collect your merchandise.
                            <br>
                            <br>
                            4 - Delivered/Collected
                            <br>
                            After you have received your order, the status will change to Delivered or Collected -
                            respectively; this order will then move from your pending orders to your order history.
                            <br>
                        </p>
                    </div>

                </div>
            </div>
            <div id="about-company" *ngIf="activeTab === 'About Company'">
                <div class="top-bar">
                    <br>
                    <h3>About Dankie Jesu &reg;</h3>
                    <br>
                </div>
                <div class="about-information">
                    Dankie Jesu
                    <p>
                        Dankie Jesu is a Christian clothing brand that caters for all genders, all races, and all ages.
                        It
                        started off as a hashtag started by the founder and designer, Lunga Duma at his church
                        Assemblies Of
                        God Kagiso in 2015.
                    </p>
                    <p>
                        He then designed his first T-shirt and sold all the merchandise thereafter from his car boot in
                        2017. The brand grew, expanded and was officially launched in 2018, 16 June at Assemblies Of God
                        Kagiso, and now has opened its doors at 5630 Moilwa Street, Kagiso.
                    </p>
                    <p>
                        Dankie Jesu meaning Thank you Jesus designs its own merchandise, sports wear, casual and formal
                        clothing for all genders at an affordable price.
                    </p>
                    <p>
                        Visit @DankieJesu on Instagram and Facebook for more info
                    </p>
                </div>

                <div class="top-bar">
                    <br>
                    <p id="titler">About Code 404 Development Team &reg;</p>
                    <br>
                </div>


                <div class="about-information">
                    Code 404 Dev.
                    <p>
                        Code 404 Dev. Team is a development team underwritten by mLab (Mobile Laboratories) that works
                        to bring solutions to local, small and medium enterprises through technological innovation and
                        development. The group was established officially in 2019 and has a number of four original
                        members each playing different roles in the development process of projects using the agile
                        methodology. The following is a list of the original members and their roles and contact
                        information:
                    </p>
                    <ion-item>
                        <h3>Sithembiso Leonard Luvuno</h3>
                        <p id="team-role">(Team Leader)</p>
                    </ion-item>
                    <ion-item>
                        <ion-note><b>Responsibilities: </b></ion-note>
                        <p>
                            - User Interface Design (App & CMS) <br>
                            - User Experience Design <br>
                            - Storyboarding <br>
                            - Use Cases <br>
                            - Testing <br>
                            - CMS (Content Management System) Development
                        </p>
                    </ion-item>
                    <ion-note>
                        <a href="mailto:spazgrafficz@outlook.com?Subject=App%20Query">spazgrafficz@outlook.com</a>

                    </ion-note>
                    <ion-item>
                        <h3>Zanele Refiloe Nkosi</h3>
                    </ion-item>
                    <ion-item>
                        <ion-note><b>Responsibilities: </b></ion-note>
                        <p>
                            - User Interface Development (App)<br>
                            - Storyboarding <br>
                            - Testing <br>
                            - Mobile Application Development
                        </p>
                    </ion-item>
                    <ion-note>
                        <a href="mailto:omuhlenkosi@gmail.com?Subject=App%20Query">omuhlenkosi@gmail.com</a>

                    </ion-note>
                    <ion-item>
                        <h3>Willington Mnisi</h3>
                        <p id="team-role"></p>
                    </ion-item>
                    <ion-item>
                        <ion-note><b>Responsibilities: </b></ion-note>
                        <p>
                            - Front-End Development (CMS) <br>
                            - Storyboarding <br>
                            - Use Cases <br>
                            - Testing <br>
                            - CMS (Content Management System) Development <br>
                            - Database Management
                        </p>
                    </ion-item>
                    <ion-note>
                        <a href="mailto:willington.mnisi@gmail.com?Subject=App%20Query">willington.mnisi@gmail.com</a>

                    </ion-note>
                    <ion-item>
                        <h3>Njabulo Celamandla Mlangeni</h3>
                        <p id="team-role"></p>
                    </ion-item>
                    <ion-item>
                        <ion-note><b>Responsibilities: </b></ion-note>
                        <p>
                            - Front-End Development (App) <br>
                            - Storyboarding <br>
                            - Use Cases <br>
                            - Testing <br>
                            - Mobile Application Development <br>
                            - Database Management
                        </p>
                    </ion-item>
                    <ion-note>
                        <a href="mailto:njabulocelamandla@gmail.com?Subject=App%20Query">njabulocelamandla@gmail.com</a>
                    </ion-note>
                </div>
            </div>
            <div id="disclaimer" *ngIf="activeTab === 'Disclaimer'">
                <div class="top-bar">
                    <br>
                    <h3>Disclaimer</h3>
                    <br>
                </div>
                <div class="document-upload">
                    <h2>Welcome to Broken Stool</h2>
                    <p>These terms and conditions outline the rules and regulations for the use of Broken Stool's
                        mobile application</p> <br />
                    <span style="text-transform: capitalize;"> Broken Stool</span> is located at:<br />
                    <address>5630 Moilwa Drive, Kagiso, Mogale City <br />1754 - Gauteng , South Africa<br />
                    </address>
                    <p>By accessing this website we assume you accept these terms and conditions in full. Do not
                        continue to use Broken Stool's website
                        if you do not accept all of the terms and conditions stated on this page.</p>
                    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
                        Notice
                        and any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this
                        website
                        and accepting the Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and
                        "Us", refers
                        to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either
                        the Client
                        or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to
                        undertake
                        the process of our assistance to the Client in the most appropriate manner, whether by formal
                        meetings
                        of a fixed duration, or any other means, for the express purpose of meeting the Client's needs
                        in respect
                        of provision of the Company's stated services/products, in accordance with and subject to,
                        prevailing law
                        of South Africa. Any use of the above terminology or other words in the singular, plural,
                        capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to
                        same.</p>
                    <h2>License</h2>
                    <p>Unless otherwise stated, Broken Stool and/or it's licensors own the intellectual property rights
                        for
                        all material on Broken Stool. All intellectual property rights are reserved. You may view and/or
                        print
                        pages from https://brokenstool.co.za for your own personal use subject to restrictions set in
                        these terms and conditions.</p>
                    <p>You must not:</p>
                    <ol>
                        <li>Republish material from https://brokenstool.co.za</li>
                        <li>Sell, rent or sub-license material from https://brokenstool.co.za</li>
                        <li>Reproduce, duplicate or copy material from https://brokenstool.co.za</li>
                    </ol>
                    <p>Redistribute content from Broken Stool (unless content is specifically made for redistribution).
                    </p>
                    <h2>Hyperlinking to our Content</h2>
                    <ol>
                        <li>The following organizations may link to our Web site without prior written approval:
                            <ol>
                                <li>Government agencies;</li>
                                <li>Search engines;</li>
                                <li>News organizations;</li>
                                <li>Online directory distributors when they list us in the directory may link to our Web
                                    site in the same
                                    manner as they hyperlink to the Web sites of other listed businesses; and</li>
                                <li>Systemwide Accredited Businesses except soliciting non-profit organizations, charity
                                    shopping malls,
                                    and charity fundraising groups which may not hyperlink to our Web site.</li>
                            </ol>
                        </li>
                    </ol>
                    <ol start="2">
                        <li>These organizations may link to our home page, to publications or to other Web site
                            information so long
                            as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship,
                            endorsement or
                            approval of the linking party and its products or services; and (c) fits within the context
                            of the linking
                            party's site.
                        </li>
                        <li>We may consider and approve in our sole discretion other link requests from the following
                            types of organizations:
                            <ol>
                                <li>commonly-known consumer and/or business information sources such as Chambers of
                                    Commerce, American
                                    Automobile Association, AARP and Consumers Union;</li>
                                <li>dot.com community sites;</li>
                                <li>associations or other groups representing charities, including charity giving sites,
                                </li>
                                <li>online directory distributors;</li>
                                <li>internet portals;</li>
                                <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
                                <li>educational institutions and trade associations.</li>
                            </ol>
                        </li>
                    </ol>
                    <p>We will approve link requests from these organizations if we determine that: (a) the link would
                        not reflect
                        unfavorably on us or our accredited businesses (for example, trade associations or other
                        organizations
                        representing inherently suspect types of business, such as work-at-home opportunities, shall not
                        be allowed
                        to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to
                        us from
                        the visibility associated with the hyperlink outweighs the absence of Broken Stool; and (d)
                        where the
                        link is in the context of general resource information or is otherwise consistent with editorial
                        content
                        in a newsletter or similar product furthering the mission of the organization.</p>

                    <p>These organizations may link to our home page, to publications or to other Web site information
                        so long as
                        the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement
                        or approval
                        of the linking party and it products or services; and (c) fits within the context of the linking
                        party's
                        site.</p>

                    <p>If you are among the organizations listed in paragraph 2 above and are interested in linking to
                        our website,
                        you must notify us by sending an e-mail to <a href="mailto:dankiejesu@brokenstool.co.za"
                            title="send an email to dankiejesu@brokenstool.co.za">dankiejesu@brokenstool.co.za</a>.
                        Please include your name, your organization name, contact information (such as a phone number
                        and/or e-mail
                        address) as well as the URL of your site, a list of any URLs from which you intend to link to
                        our Web site,
                        and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a
                        response.</p>

                    <p>Approved organizations may hyperlink to our Web site as follows:</p>

                    <ol>
                        <li>By use of our corporate name; or</li>
                        <li>By use of the uniform resource locator (Web address) being linked to; or</li>
                        <li>By use of any other description of our Web site or material being linked to that makes sense
                            within the
                            context and format of content on the linking party's site.</li>
                    </ol>
                    <p>No use of Broken Stool's logo or other artwork will be allowed for linking absent a trademark
                        license
                        agreement.</p>
                    <h2>Reservation of Rights</h2>
                    <p>We reserve the right at any time and in its sole discretion to request that you remove all links
                        or any particular
                        link to our Web site. You agree to immediately remove all links to our Web site upon such
                        request. We also
                        reserve the right to amend these terms and conditions and its linking policy at any time. By
                        continuing
                        to link to our Web site, you agree to be bound to and abide by these linking terms and
                        conditions.</p>
                    <h2>Content Liability</h2>
                    <p>We shall have no responsibility or liability for any content appearing on your Web site. You
                        agree to indemnify
                        and defend us against all claims arising out of or based upon your Website. No link(s) may
                        appear on any
                        page on your Web site or within any context containing content or materials that may be
                        interpreted as
                        libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the
                        infringement or
                        other violation of, any third party rights.</p>
                    <h2>Disclaimer</h2>
                    <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and
                        conditions relating to our website and the use of this website (including, without limitation,
                        any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the
                        use of reasonable care and skill). Nothing in this disclaimer will:</p>
                    <ol>
                        <li>limit or exclude our or your liability for death or personal injury resulting from
                            negligence;</li>
                        <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
                        <li>limit any of our or your liabilities in any way that is not permitted under applicable law;
                            or</li>
                        <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
                    </ol>
                    <p>The limitations and exclusions of liability set out in this Section and elsewhere in this
                        disclaimer: (a)
                        are subject to the preceding paragraph; and (b) govern all liabilities arising under the
                        disclaimer or
                        in relation to the subject matter of this disclaimer, including liabilities arising in contract,
                        in tort
                        (including negligence) and for breach of statutory duty.</p>
                    <p>To the extent that the website and the information and services on the website are provided free
                        of charge,
                        we will not be liable for any loss or damage of any nature.</p>
                    <h2></h2>
                    <p></p>
                    <h2>Credit & Contact Information</h2>
                    <p>This Terms and conditions page was created at <a
                            style="color:inherit;text-decoration:none;cursor:text;"
                            href="https://termsandconditionstemplate.com">termsandconditionstemplate.com</a> generator.
                        If you have
                        any queries regarding any of our terms, please contact us.</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>