<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="registrationForm">
  <ion-input (ionChange)='change()' id='name'></ion-input>
  <ion-input formControlName="number" placeholder='number'></ion-input>
  <ion-button (click)='addUser()' id='add-user'>submit</ion-button>
</form>
<ion-button (click)='googleSignIn()'>use google</ion-button>
<div id='recaptcha-container'></div>
<div>
    <ion-input (ionChange)='change()' id='nam'></ion-input>
  
  <ion-input [(ngModel)]='inputCode'></ion-input>
</div>
</ion-content>
